		<h1>Voorlopers van de Reformatie</h1>
		<p>
Bekijk het filmpje hieronder voor de uitleg bij dit hoofdstuk
		</p>
			<ol>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/dEOKxgA1OHM" frameborder="0" allowfullscreen></iframe>
			</ol>
		<h2>Middeleeuwen (500-1500)</h2>
				
		<p>
			In deel 1 van Estafette zijn we geëindigd met de kruistochten. De strijd om de macht tussen pausen en keizers was heftig. Daarbij dwaalde men steeds verder af van God en Gods Woord.
Een mooie ontwikkeling in de Middeleeuwen was bijvoorbeeld de boekdrukkunst. Zo kende de Middeleeuwen dus mooie en minder mooie ontwikkelingen. Maar alles heeft uiteindelijk wel bijgedragen aan de Renaissance, de periode na de Middeleeuwen.

		</p>	
		<h2>Renaissance</h2>
		<p>	
			Door de pestepidemie in de 14e en begin 15e eeuw was de hele economie ingestort. De bevolkingsafname zorgde er voor dat er weinig markt was voor allerlei goederen. Maar aan het eind van de 15e eeuw kwam er weer bevolkingstoename waardoor de economie ook weer beter ging draaien. Door de handel ontstonden er ook nieuwe beroepen zoals bankier of boekhouder. Er was vooral veel ontwikkeling in belangrijke handelssteden die rijk waren geworden door de handelsroutes die waren  ontstaan tijdens de kruistochten.  
Renaissance = wedergeboorte. Men vond de tijd van de Middeleeuwen maar saai en wilde weer terug naar de oudheid van Griekenland en Rome. Met name in de kunst en architectuur zie je dit terug. 
 
		</p>
		
		<h4>Opdracht 1</h4>
		<img src="/drawables/smiley2.png" alt="Smiley face" width="42" style="float:left"> 
		<p id="opdracht" >
		<ol type="a">
			Zoek op internet naar afbeeldingen: architectuur Renaissance, kunst Renaissance. Wat valt je op?
			<br><textarea ng-model="answers._1"></textarea>
		</p>
		</ol>
		
		<h2>Voorlopers Reformatie</h2>
		<p>
		De kerk in de Middeleeuwen lijkt kapot te gaan door de strijd om de macht tussen de pausen en keizers. Hierdoor lijkt de kerk de relatie met God te verliezen. De kerk is het Lichaam van Christus.
Maar als er niet meer geluisterd wordt naar Christus en Zijn Woord, verziekt het lichaam. En wat moeten de gewone gelovigen ervan denken? Daarom is het begrijpelijk dat er protestbewegingen ontstaan. Helaas kent men de bijbel slecht. De geestelijken kunnen de bijbel  lezen maar de gewone man van het volk niet. Deze had namelijk nooit oude talen gestudeerd.
		</p>
		
		<h2>Geert Groote</h2>
		<p>
		Geert Groote is één van de voorlopers van de Reformatie. Hij woonde in Deventer. Hij was geboren in 1340 en overleed in 1384.
		</p>		

		<h4>Opdracht 2</h4>
<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left">
		<p id="opdracht" >
		Kijk de eerste 20 minuten van de serie God in de lage Landen/ Moderne Devotie:
		</p>
					
		<a href="https://portal.eo.nl/geloofinnederland/gemist/2012/11/11-de-moderne-devotie/" target="blank">https://portal.eo.nl/geloofinnederland/gemist/2012/11/11-de-moderne-devotie/</a>
				
		<p id="opdracht" >
			Lees de tekst hierboven
			<ol type="a">
				<li>
					Wat heeft Geert Groote gedaan voor de kerk?<br>
					<textarea ng-model="answers._2a"></textarea><br>
				</li>
				<li>
					Waarom gingen de leken in speciale huizen samenwonen?<br>
					<textarea ng-model="answers._2b"></textarea><br>
				</li>
				<li>
					Wat is Moderne Devotie?<br>
					<textarea ng-model="answers._2c"></textarea><br>
				</li>
			</ol>
		</p>	
		<h2>John Wycliff</h2>
				
		<p>
		John is geboren in Engeland in het jaar 1330 en overleed in 1384.
Een grote wens van John Wycliff was om de Bijbel te vertalen in het Engels zodat het gewone volk ook de Bijbel kon lezen. Tijdens het vertalen van de Bijbel komt hij erachter dat de Rooms-Katholieke kerk heel veel dwalingen en ketterijen verkondigt. 
Zo zei hij dat de paus niet het gezag over de kerk heeft maar dat God dat is. De paus heeft dus veel minder macht dan dat de kerk beweerde. Ook verkondigde John dat brood en wijn bij het avondmaal niet echt het lichaam en bloed van Christus worden.
De Rooms-Katholieke kerk vereerde relikwieën en heiligen en verkochten aflaten. Dit alles om Gods genade te kopen en verdienen. John Wycliff is het hier totaal niet mee eens. Gods genade krijg je gratis en voor niets!
Helaas lukt het John Wycliff niet om de hele Bijbel te vertalen. Nadat hij is overleden gaan een groep mensen er wel mee door, deze groep had de naam Lollards. Deze groep verkondigden de ideeën van Wycliff en op die manier kwamen ze ook bij Johannes Hus.

		</p>	
		
		<h2>Johannes Hus</h2>
		<p>
		Johannes Hus is geboren in 1379/1380 in Bohemen (Tsjechië). Hij is slim en studeert  veel en is op zijn 29e professor op de universiteit in Praag. Studenten uit Bohemen gingen de boeken van Wycliff overschrijven zodat ze het mee konden nemen naar huis. Toen Hus dit zag en las was hij onder de indruk van alles wat Wycliff had opgeschreven. Hus gaat daarom de leer van Wycliff overal verkondigen. Johannes Hus wordt gevangengenomen en op 5 juli 1415 veroordeelde een concilie de leer van Wycliff. Johannes Hus wordt opgehaald uit zijn cel en hem wordt gevraagd of hij zijn leer wil herroepen.  Zijn antwoord was duidelijk: Ik wil mijn leer wel herroepen, maar alleen als men uit de bijbel kan aantonen dat ik dwaal.
Op  zondag 6 juli 1415 wordt Johannes Hus op zijn 46e verjaardag naar de brandstapel gevoerd. Zingend stierf Hus de vuurdood.
Later worden ook nog de stoffelijke resten van Wycliff opgegraven om ze alsnog te verbranden.
		</p>

		<h4>Opdracht 3</h4>
		<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left"> 
		<p id="opdracht" >
		<ol type="a">
			Bespreek in een tweetal wat Johannes Hus duidelijk wilde maken met zijn antwoord: Ik wil mijn leer wel herroepen, maar alleen als men uit de bijbel kan aantonen dat ik dwaal.
			<br><textarea ng-model="answers._3"></textarea>
		</p>
		</ol>
		<p>
		Door mensen als Geert Groote, John Wycliff en Johannes Hus werd het Woord van God doorgegeven en dichterbij de mensen gebracht. Maar tegelijk werd ook duidelijk hoe verkeerd de Rooms-Katholieke kerk bezig was. 	
		</p>			
					</ul>	
				</li>
				
		</p>
		
		<h4>Ruimte voor aantekeningen</h4>
		<p>
			<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
		</p>

