
<h1>Godsdienststrijd in Nederland</h1>
<p>
Door Reformatoren als Luther en Calvijn is er ook in Nederland veel veranderd in de kerk. Er ontstaan protestantse kerken. Vaak moest men in het geheim samenkomen want de Rooms katholieke Kerk trad hard op tegen het protestantisme. Veel protestanten zijn als martelaar gestorven. 
</p>
<br>
<h2>Guido de Brès (1522 – 1567)</h2>
<p>
Guido wordt katholiek opgevoed. Tijdens zijn jeugd is het erg onrustig in Nederland. Het is zo’n vijf jaar geleden dat Luther zijn 95 stellingen bekend maakte. De Roomse kerk spoorde iedereen op die ketterse ideeën had om vervolgens door de inquisitie terechtgesteld te worden. Het is dus een spannende tijd waar veel protestanten als martelaar sterven. 
Guido was eerst glasschilder en moest daarom geregeld naar kerken om de ramen te beschilderen. Wellicht is hij zo in aanraking gekomen met de Bijbel. Hij is de Bijbel gaan bestuderen en las ook de boeken van Calvijn. Samen met zijn vrienden organiseerde hij bijeenkomsten om door te praten over de Bijbel. In 1548 wilde de inquisitie dat Guido de Brès zich melde. Guido vluchtte naar Engeland. Guido was niet de enige vluchteling in Engeland daardoor was het mogelijk om Nederlandse vluchtelingenkerken op te richten. Guido de Brès is daar hard aan het werk geweest maar zijn wens was om terug te gaan naar zijn geboorteplaats Bergen. In 1552 is het zover, hij gaat terug naar Bergen. Daar reist hij rond om geheime gemeenten te bezoeken en aan te moedigen. Tegelijk schrijft hij boeken. 
In die tijd komt de Spaanse Katholieke koning Philips II aan de macht in Nederland. 
Guido gaat na een tijdje naar Duitsland om daar Nederlandse vluchtelingen te ontmoeten en over de goede leer te vertellen. Hij krijgt dan ook nog de kans om in Genève op de universiteit die door Calvijn is opgericht theologie te studeren. In 1559 trouwt hij en keert terug naar Nederland, Doornik.  Hij gaat weer verder met het bezoeken van geheime gemeenten terwijl hij weet dat dit levensgevaarlijk is. 
</p>
<p>
Guido schreef de Nederlandse geloofsbelijdenis. Een vriend van hem heeft deze belijdenis in 1561 inclusief een brief voor de koning over de muur van kasteel van Doornik gegooid. Het was de bedoeling dat dit uiteindelijk via Margaretha van Parma bij koning Philips II zou komen. Hij kon dan zelf lezen wat de gereformeerden geloven. Nu was Guido nergens meer veilig, de inquisitie had opdracht gekregen hem op te pakken. Guido vlucht naar een kasteel in Frankrijk. Toen het iets rustiger was maakte hij een aantal reizen waaronder een reis naar Brussel waar hij Willem van Oranje ontmoette. Guido hoopte op een goede samenwerking zodat de protestanten samen konden optreden tegen de roomse overheid. Dit lukte helaas niet, Willem van Oranje werkte niet mee. 
In 1566 gingen edelen onder leiding van Hendrik van Brederode naar Margaretha van Parma om te vragen of het mogelijk was om meer godsdienstvrijheid te krijgen en minder ver volgingen. Dit leek te lukken waardoor in Nederland heel veel hagepreken werden gehouden. Dit was natuurlijk geweldig. Helaas kwam ook de beeldenstorm, alle beelden en relikwieën werden verwijderd en kapotgemaakt door de protestanten. Margaretha was boos toen ze dit hoorde en koning Phillips II stuurde hertog van Alva naar Nederland om de orde te herstellen. Dit deed hij met harde hand, honderden protestanten zijn ter dood veroordeeld.
</p>
<p>
Ook de gemeente waar Guido dominee was wilde Roomse kerken schoonvegen zodat het geschikt was om zelf als kerk te gebruiken. Hier was de gouverneur (Noircarmes) niet van gediend en belegerde de stad. Uiteindelijk moest de stad zich overgeven en veel gereformeerden werden gearresteerd. Guido wist nog te vluchten maar uiteindelijk is ook hij opgepakt en opgehangen. Tot het laatst toe heeft hij vastgehouden aan het Woord van God.
</p>
<br>
<h4>Opdracht 1</h4>
<img src="/drawables/smiley5.png" alt="Smiley face" width="42" style="float:left">
<p id="opdracht">
Zoek op internet de Nederlandse Geloofsbelijdenis op en beantwoord de vragen.
	<ol type="a">
		<li>
			Lees artikel 1: in hoeveel goden geloven wij?
			<br><textarea ng-model="answers._1a"></textarea>
		</li>
		<li>
			Lees artikel 2: waardoor kennen wij God? (twee dingen)
			<br><textarea ng-model="answers._1b"></textarea>
		</li>
		<li>
			Lees artikel 3: hoe is de Bijbel er gekomen?
			<br><textarea ng-model="answers._1c"></textarea>
		</li>
		<li>
			Lees artikel 12: hoe heeft God de aarde geschapen?
			<br><textarea ng-model="answers._1d"></textarea>
		</li>
		<li>
			Lees artikel 27: wat geloven wij van de kerk? Hoe lang zal de kerk bestaan?
			<br><textarea ng-model="answers._1e"></textarea>
		</ol>	
</p>
<br>
<h4>Opdracht 2</h4>
<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left">
<p id="opdracht">
Bekijk de aflevering “De Reformatie” van God in de Lage landen en beantwoord de volgende vragen:
<a href="http://www.eo.nl/geloven/programma/godindelagelanden/aflevering-detail/reformatie/" target="blank">http://www.eo.nl/geloven/programma/godindelagelanden/aflevering-detail/reformatie/</a>
</p>
<p>
	<ol>
		<li>
		Met welk godsbeeld wordt Jan de Bakker opgevoed?
		</li>
		<li>
		Hoe is Jan de Bakker in aanraking gekomen met de Lutherse leer? 
		</li>
		<li>
		Waarom moet Jan de Bakker naar de inquisitie in Den Haag komen?
		</li>
		<li>
		Wat kun je leren van Jan de Bakker?
		</li>
		<li>
		Noem een voorbeeld van een Nederlands gebruik waar de Reformatie invloed op heeft gehad? Welke invloed was dit?
		</li>
		<li>
		Hoe wil Hendrik van Brederode Margaretha overtuigen om godsdienstvrijheid te geven? 
		</li>
		<li>
		Wat zijn hagepreken?
		</li>
		<li>
		Wat vindt Hendrik van de beeldenstorm?
		</li>
		<li>
		Wat doet Willem van Oranje om de oorlog tussen de Geuzen en Alva te voorkomen?
		</li>
		<li>
		Waarom krijgt Willem van Oranje de bijnaam Willem de Zwijger?
		</li>
		<li>
		Waarvoor wordt Hendrik veroordeeld door de bloedraad van Alva?
		</li>
		<li>
		Wie is Klaas Pieck?
		</li>
		<li>
		Hoe komen Klaas en zijn volgers omgebracht door de Geuzen?
		</li>
		<li>
		Waarom herdenkt de Katholieke Kerk mensen als Klaas Pieck? Wat gedenken ze hiermee?
		</li>
	</ol>
</p>
<br>
<h2>Heidelbergse Catechismus</h2>
<p>
Naast dat Guido de Brès een leerling was van Calvijn waren ook Ursinus en Olevianus dat. Zij schreven de Heidelbergse Catechismus in 1563. Petrus Datheen heeft het vertaald in het Nederlands zo vanaf 1566 uit dit boekje lesgegeven kon worden binnen de gereformeerde kerk. Het boekje is verdeeld in drie thema’s: ellende, verlossing en dankbaarheid. De catechismus kent in totaal 52 hoofdstukjes wat bestaat uit vragen met antwoorden. Hierdoor was het mogelijk om elke week zo’n hoofdstukje te behandelen.
</p>
<br>
<h4>Opdracht 3</h4>
<img src="/drawables/smiley2.png" alt="Smiley face" width="42" style="float:left">
<p id="opdracht">
Zoek op internet naar de Heidelbergse Catechismus.
	<ol type="a">
		<li>
			Bekijk de Heidelbergse Catechismus en lees een aantal vragen met antwoorden. Welke thema’s komen aan de orde? Schrijf er in elk geval vijf op.
			<br><textarea ng-model="answers._3a"></textarea>
		</li>
	</ol>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left">
	<ol type="a">	
		<li>
			Waaruit blijkt dat dit boekje geschreven is in de tijd van de Reformatie?
			<br><textarea ng-model="answers._3b"></textarea>
		</li>
	</ol>	
</p>
<br>
<h2>Franciscus Gomarus en Jacobus Arminius</h2>
<p>
Na de 80-jarige oorlog die eindigde in 1648 was er godsdienstvrijheid voor de gereformeerden. Zoals je in de aflevering van de Lage Landen hebt kunnen zien ging dit er wreed aan toe. Maar toen leek het even alsof de rollen omgedraaid werden. In plaats van de Rooms-Katholieke kerk werden de gereformeerde kerk de volkskerk. Dit betekende bijvoorbeeld dat je lid moest zijn van een gereformeerde kerk om een goede baan te kunnen krijgen. Op deze manier was dus niet elk kerklid ook heel erg betrokken bij de kerk. En lid zijn betekende ook niet dat je het met alles eens was. Zo ontstond er dus meningsverschil binnen de gereformeerde kerk. Een voorbeeld daarvan is de geloofsstrijd tussen Franciscus Gomarus en Jacobus Arminius.
</p>
<br>
<h4>Opdracht 4</h4>
<img src="/drawables/groepsopdracht.png" alt="Smiley face" width="42" style="float:left">
<p id="opdracht">
De volgende opdracht ga je in tweetallen maken. Je antwoorden op onderstaande vragen moet je verwerken in een verslag of magazine.
</p>
<p>
	<ol>
		<li>
		Beschrijf het leven van Franciscus Gomarus.
		</li>
		<li>
		Beschrijf het leven van  Jacobus Arminius. 
		</li>
	</ol>
<img src="/drawables/smiley1.png" alt="Smiley face" width="42" style="float:left">		
	<ol TYPE="1" START="3">
		<li>
		De strijd tussen Arminius en Gomarus ging met name over de leer van de uitverkiezing of predestinatie. Omschrijf duidelijk wat uitverkiezing/predestinatie is. Gebruik hiervoor bijvoorbeeld:
<ul>		
		<a href="http://www.protestant.nu/Encyclopedie/tabid/359/Page/uitverkiezing/Default.aspx" target="blank">http://www.protestant.nu/Encyclopedie/tabid/359/Page/uitverkiezing/Default.aspx</a>		
</ul>
		</li>
		<li>
		Wat is de leer van Gomarus als het gaat om de uitverkiezing?
		</li>
		<li>
		Wat is de leer van Arminius als het gaat om de uitverkiezing?
		</li>
		<li>
		Aanhangers van Arminius worden ook wel remonstranten, arminianen of rekkelijken genoemd. Wat maken zij in hun Remonstrantie in 1610 duidelijk?
<ul>		
		<a href="http://nl.wikipedia.org/wiki/Vijf_artikelen_van_de_remonstranten" target="blank">http://nl.wikipedia.org/wiki/Vijf_artikelen_van_de_remonstranten</a>
		<a href="http://www.protestant.nu/Encyclopedie/tabid/359/Page/remonstrantisme/Default.aspx" target="blank">http://www.protestant.nu/Encyclopedie/tabid/359/Page/remonstrantisme/Default.aspx</a>		
</ul>		
		</li>
		<li>
		Als antwoord op de Remonstrantie van de Arminianen komen de aanhangers van Gomarus, Gomaristen of preciezen, met een contra-Remonstrantie.  Wat is de inhoud van hun reactie?
<ul>		
		<a href="http://nl.wikipedia.org/wiki/Contraremonstranten" target="blank">http://nl.wikipedia.org/wiki/Contraremonstranten</a>	
</ul>		
		</li>
		<li>
		Het lukt de remonstranten en de contra-remonstranten niet om éénheid in de kerk te krijgen. Omdat veel belangrijke mensen in die tijd remonstrants waren werd het in de gereformeerde kerk verplicht om de leer van Arminius te verkondigen. De Staten van Holland onder leiding van Johan van Oldenbarneveldt zijn voor de remonstranten. Terwijl Maurits van Oranje kiest voor de contra-remonstranten. Door de steun van de Prins van Oranje krijgen de contra-remonstranten weer meer aanhangers. En zo wordt Johan van Oldenbarneveldt vastgezet op verdenking van verraad tegen de Prins van Oranje en wordt hij in 1619 ter dood veroordeeld. Deze situatie verscheurd de kerk. Maurits van Oranje wil de eenheid in de kerk redden door een grote nationale synode te organiseren. Zo komt er in 1618-1619 de synode van Dordrecht. 
		Welke personen waren aanwezig bij deze synode? Hoe verliep deze synode? Wat waren de besluiten van de synode (noem er in elk geval 4)?
<ul>		
		<a href="http://www.protestant.nu/Encyclopedie/tabid/359/Default.aspx?Page=Dordrecht%2c%20Synode%20van" target="blank">http://www.protestant.nu/Encyclopedie/tabid/359/Default.aspx?Page=Dordrecht%2c%20Synode%20van</a>
		<a href="http://nl.wikipedia.org/wiki/Synode_van_Dordrecht" target="blank">http://nl.wikipedia.org/wiki/Synode_van_Dordrecht</a>		
		<a href="http://mens-en-samenleving.infonu.nl/religie/29677-waarom-de-synode-van-dordrecht.html" target="blank">http://mens-en-samenleving.infonu.nl/religie/29677-waarom-de-synode-van-dordrecht.html</a>
</ul>		
		</li>
		<li>
		Welke formulieren behoren tot de drie formulieren van Eenheid? Wat is de waarde van deze formulieren?
		</li>
		<li>
		Leg uit waarom het zo belangrijk was om de discussie over de uitverkiezing aan te gaan? Wat is jou mening over uitverkiezing?
		</li>
	</ol>
</p>
<p>
Kijk voordat je je verslag inlevert de aflevering ‘Na de Reformatie’  van God in de Lage Landen (kijk vooral de eerste 25 minuten). Kijk of je je verslag nog kunt aanvullen of verbeteren.
</p>
<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left">
<a href="http://www.eo.nl/geloven/programma/godindelagelanden/aflevering-detail/na-de-reformatie/" target="blank">http://www.eo.nl/geloven/programma/godindelagelanden/aflevering-detail/na-de-reformatie/</a>
<p>
<br>
<br>
<B>NB. De informatie die dominee de Jong verkondigt is niet Bijbelgetrouw. De discussie tussen Arminius en Gomarus deed er wel degelijk toe en is tot de dag van vandaag een lastig vraagstuk maar wel van belang voor je geloof en relatie met God.</B>
</p>
<br>
<h4>Opdracht 5</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left">
	<ol type="a">
		<li>
			Bedenk in tweetallen een aantal goede stellingen bij de leer van Gomarus en Arminius. Lever je stellingen in bij je docent.
			<br><textarea ng-model="answers._5a"></textarea>
		</li>
		<li>
			De beste stellingen worden besproken in de klas. Dit kun je doen door middel van een lager huis of socrative.
			<br><textarea ng-model="answers._5b"></textarea>
		</li>
	</ol>
<br>	

<h4>Ruimte voor aantekeningen</h4>
<p>
	<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
</p>
