<h1>De Reformatie</h1>
<p>
De tijd van de Reformatie heb je uitgewerkt in een verslag. Als het goed is heb je ontdekt dat er tijdens de Reformatie voor de kerk een hoop veranderd is. Maar voordat deze verandering in gang gezet kon worden moesten mensen helemaal anders gaan denken. Ineens was het niet meer vanzelfsprekend dat je je aansloot bij de Rooms Katholieke kerk. 
</p>
<h2>Maarten Luther</h2>
<p>
Maarten Luther is de persoon die ervoor zorgde dat er veel opschudding kwam in de kerk. Maarten Luther ergerde zich heel erg aan Albrecht van Brandenburg. Deze man kreeg het voorelkaar om aartsbisschop te zijn van Mainz en Maagdenburg en stadsbestuurder van Halberstadt. Dit terwijl op het concilie van Nicea duidelijk was afgesproken dat je niet van meerdere plaatsen tegelijk aartsbisschop kon zijn. Paus Leo X gaf Albrecht toestemming maar daarvoor in de plaats moest Albrecht heel veel geld betalen aan het Vaticaan. Om dit geld bij elkaar te krijgen ging Albrecht aflaten verkopen.
</p>
<div class="well" id="textArea" style="float:right"> 
	<h2>Aflaat</h2>
	<p>
		Via de biecht kon men vergeving krijgen van de zonden. Maar ondanks deze vergeving van zonde geloofde men dat als je gestorven was je nog moest boeten. Dit gebeurde in een soort tussenfase: het vagevuur. Om deze vreselijke fase over te kunnen slaan kocht je een aflaat zodat je direct door kon gaan naar de hemel.
	</p>
</div>
<p>
Luther maakte zich boos over deze aflatenhandel. Hij schreef in 1517 de 95 stellingen om naar aanleiding daarvan in discussie te gaan. Door de boekdrukkunst was het mogelijk dat de 95 stellingen heel snel werden verspreid en dat gebeurde ook. De Paus reageerde door te zeggen dat Luther er helemaal naast zat en dat de aflatenhandel niet fout is. 
Al snel stond het gezag van de kerk ter discussie: heeft de paus goddelijk gezag?
In alle discussies probeerde Luther te argumenteren vanuit de Bijbel.  Het belangrijkste voor Luther was de ontdekking in de Romeinenbrief dat de mens niet wordt gered door wat hij doet maar door het offer van Christus dat je door geloof mag aannemen: alleen uit genade.  
Daarbij verkondigde Luther dat de autoriteit van de Bijbel groter is dan die van de kerk. Daarom vond Luther het van groot belang dat elk mens zelf de Bijbel kon lezen en dus ging Luther het NT vertalen in het Duits. Ondanks dat veel mensen niet konden lezen werd deze Duitse vertaling veel verkocht!
Door deze Reformatie bestonden er dus niet meer alleen de katholieken maar ook de protestanten.
Naast dat er in Duitsland door Luther veel mensen protestants werden kwamen er in Scandinavië, Polen, Bohemen en Hongarije ook veel Lutherse kerken.
</p>
<h2>Hyldrych Zwingli</h2>
<p>
In Zwitserland was het Hyldrych Zwingli die voor verandering in de Rooms Katholieke kerk zorgde. Hij werd in 1519 pastoor van de kerk in Zürich. Hij riep de christenen op om weer te leven zoals beschreven staat in het Nieuwe Testament. Daarom preekte hij zondag na zondag uit het Mattheus evangelie. Dit was heel ongewoon want normaal gesproken koos de pastoor niet zelf uit waar hij over ging preken. De meeste mensen konden dit wel waarderen maar een aantal ook niet. Zwingli werd erg ziek, de pest heerste. Veel mensen beweerden dat dit een straf van God was. Maar ondanks dat Zwingli doodziek was herstelde hij en werd weer helemaal beter.
</p>
<br>
<div class="well" id="textArea" style="float:left"> 
	<h2>Pestlied van Zwingli</h2>
	<p>
		In het begin van de ziekte
Help, o God help in deze nood!
Ik bedoel de dood die , Christus, voor de deur staat,
Maar Gij hebt hem overwonnen!
	</p>
</div>
<p>
Zwingli veroordeeld  veel zaken in de Rooms Katholieke kerk, zoals het feit dat veel priesters meerdere minnaressen hadden, vasten, hij schaft de aflaathandel, biecht, celibaat en bedevaart af. Zwingli wilde ook geen eucharistie viering meer maar het avondmaal. Bij het avondmaal zag hij brood en wijn als tekenen van het lichaam en bloed van Christus.
</p>
<p>
Luther en Zwingli zaten met veel dingen op één lijn maar over het avondmaal konden ze het niet eens worden. Luther bleef geloven in de verandering van brood en wijn in het lichaam en bloed van Christus. 
Door deze onenigheid ontstond er helaas geen samenwerking tussen de protestanten in Duitsland en in Zwitserland.
</p>
<br>
<br>
<h2>Johannes Calvijn</h2>
<p>
Johannes Calvijn wordt geboren op 10 juli 1509 in Frankrijk. Toen Calvijn werd geboren was Luther al 25 jaar. Dat was voor Calvijn een voordeel, omdat de Reformatie al volop bezig was toen hij volwassen werd. Calvijn hoeft dus niet meer bij het begin te beginnen.
</p>
<p>
Calvijn heeft een bijzonder goed stel hersens. Hij heeft rechten gestudeerd en Theologie, waardoor hij predikant wordt. God heeft hem gebruikt in Zijn dienst. Als hij 27 jaar is komt hij in de stad Genève. Daar smeekt Guillaume Farel hem om in Genève te blijven. Dit doet Calvijn. Hij heeft daarom vooral gewerkt in de stad Genève, op de grens van Frankrijk en Zwitserland.
</p>
<p>
Calvijn schrijft veel. Zijn meest bekende boek is de Institutie. Hierin legt hij duidelijk de christelijke leer uit aan de gelovigen. Het boek gaat over de 10 geboden, het geloof, het gebed, de sacramenten en de christelijke vrijheid.
</p>
<p>
In Genève krijgt Calvijn grote invloed op het bestuur van de kerk en de stad. Door zijn kennis en wijsheid geeft Calvijn de Reformatie inhoud en vaste grond. Hij legt heel veel uit. Bijvoorbeeld over de viering van het avondmaal, de tucht, de ambten (predikant, ouderling, diaken), de kerkorde (hoe de kerk georganiseerd moet worden) en de liturgie (hoe de kerkdienst ingedeeld wordt).
</p>
<div class="well" id="textArea" style="float:right"> 
	<h2>Lijfspreuk van Calvijn</h2>
	<p>
	Laat mij verteren, als ik maar nuttig ben.
	</p>
</div>
<p>
Calvijn doet heel veel aan studie. Veel mensen vragen hem dan ook om hulp of advies. In Genève is er elke dag een kerkdienst en op zondag drie. Calvijn is daar niet de enige predikant, maar toch preekt hij heel vaak.
</p>
<p>
In 1559 start Calvijn in Geneve een theologische universiteit. Hier kan hij nu zijn lessen geven aan de studenten. Door zijn goede Bijbeluitleg en zijn organisatietalent krijgt de Reformatie meer kracht. Veel studenten komen in Genève studeren.
</p>
<p>
Op 27 mei 1564 sterft Johannes Calvijn. De enorme inspanning die hij heeft geleverd is bijna niet te geloven. Dit was niet goed voor zijn lichamelijke gezondheid. Zijn ‘levenskaars’ was op. Calvijn is 54 jaar geworden. Calvijn heeft enorm veel betekent voor het christendom. Zijn invloed is wereldwijd heel groot. Laten we God dankbaar zijn dat Hij Calvijn heeft gebruikt in Zijn Koninkrijk. Na het overlijden van Calvijn hebben anderen zijn werk voortgezet.
</p>
<h2>Contra-Reformatie</h2>
<p>
De Katholieken komen met een tegenbeweging van de Reformatie, namelijk de Contra-Reformatie. In het jaar 1545 organiseert de kerk het concilie van Trente (plaatsje in Italië). Een concilie is een grote vergadering. En deze vergadering was zeker groot, in totaal heeft de vergadering 18 jaar geduurd!
</p>
<p>
Uiteindelijk stelt de vergadering het volgende vast:
</p>
<p>
	<ol>
		<li>
		We wijzen alles af wat Luther, Zwingli en Calvijn ons hebben geleerd.
		</li>
		<li>
		De Bijbel en kerkelijke tradities zijn samen de basis voor de leer van de kerk. 
		</li>
		<li>
		Naast genade en geloof zijn goede werken van belang voor verlossing.
		</li>
		<li>
		De Katholieke Kerk wil vasthouden aan de 7 sacramenten, de leer van het vagevuur, het gebruik van relikwieën, heiligenverering, aflaten.
		</li>
	</ol>
</p>
<h2>De vijf sola's</h2>
<p>
Door het werk van Luther en andere reformatoren is de gezonde leer van de Bijbel opnieuw ontdekt. Door de eeuwen heen was de kerk ver afgedwaald van deze gezonde leer. Deze leer kunnen we heel kort samenvatten in de vijf sola’s.
</p>
<div class="well" id="textArea" style="float:left"> 
	<p>
	Sola gratia: alleen genade
	</p>
	<p>
	Sola fide: alleen geloof
	</p>
	<p>
	Sola Scriptura: alleen de Bijbel
	</p>
	<p>
	Solus Christus: alleen Christus
	</p>
	<p>
	Soli Deo gloria: alleen aan God de eer
	</p>
</div>
<p>
Dit zijn Latijnse begrippen. De vertaling in het Nederlands staat erachter. Hieronder worden de vijf sola’s apart uitgelegd.
</p>
<p>
<B>Sola gratia</B>
</p>
<p>
Genade betekent: iets goeds krijgen, terwijl je straf hebt verdiend. Zo is het ook voor mensen die hun redding zoeken bij de Here. We verdienen allemaal de straf op de zonde. Dat is dat we allemaal voor eeuwig verloren zouden zijn. We staan er niet zo best voor. Vanuit onszelf kunnen en willen wij niet voor God kiezen. 
</p>
<p>
Toch is het zo dat we door Jezus Christus levend gemaakt zijn en uit mogen zien naar de ontmoeting met Hem. Hij maakt voor ons een plaats in de hemel. Hoe kan dat dan en wat moeten we daarvoor doen?
</p>
<p>
Het antwoord is dat dit kan omdat God zelf heeft ingegrepen. Hij heeft de straf op de zonde laten neerkomen op zijn eigen Zoon, de Here Jezus. Iedereen die in Hem gelooft ontvangt vergeving van de schuld. Wat je daarvoor moet doen? Helemaal niets! Ja maar, je moet toch geloven? Dat klopt, maar zelfs het geloof is je door God geschonken. Het is dus pure genade dat God mensen redt die dat zelf niet kunnen en ook niet willen. Wat een wonder!
</p>

<h4>Opdracht 1</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left">
	<ol type="a">
		<li>
			Mensen kunnen en willen uit zichzelf niet voor God kiezen. Hoe komt dat denk je?
			<br><textarea ng-model="answers._1a"></textarea>
		</li>
		<li>
			Leg uit waarom de genade van God zo’n groot wonder is.
			<br><textarea ng-model="answers._1b"></textarea>
		</li>
		<li>
			Wat betekent Gods genade voor jou?
			<br><textarea ng-model="answers._1c"></textarea>
		</li>
		</ol>
<img src="/drawables/smiley7.png" alt="Smiley face" width="42" style="float:left">
	<ol type="a">	
		<li>
			Zoek een lied op over Gods genade en kopieer de link.
			<br><textarea ng-model="answers._1d"></textarea>
		</li>
		</ol>	
</p>
<p>
<B>Sola Fide</B>
</p>
<p>
In Efeze 2 vers 8 zegt Paulus: Door zijn genade bent u nu immers gered, dankzij uw geloof. Maar dat dankt u niet aan uzelf; het is een geschenk van God. Hier staat dat je door Gods genade gered wordt en dat dat komt door je geloof. Paulus zegt er gelijk achteraan dat het geloof een geschenk van God is. Wat is geloof? Daar is de Catechismus duidelijk over. In Zondag 7, vraag en antwoord 21, staat dat een waar geloof een vast vertrouwen is. Je bent er zeker van dat je zonden zijn vergeven en dat God je het eeuwige leven heeft gegeven. 
</p>
<p>
	Het gaat er bij een echt geloof dus niet om:
	<ul>
		<li>
			Hoe goed jij leeft
		</li>
		<li>
			Wat je allemaal voelt
		</li>
		<li>
			Wat de kwaliteit van je geloof is
		</li>
	</ul>
</p>
<p>
Een echt geloof is dat je je lege hand uitstrekt. God geeft je dan het ongelofelijk grote geschenk van Zijn redding voor jou. Als je het zo ziet, dan
<ul>
		<li>
			Kijk je vooral naar wat Hij heeft gedaan en niet naar wat je zelf moet doen
		</li>
		<li>
			Kijk je vooral naar de Here Jezus en niet naar wat je allemaal voelt
		</li>
		<li>
			Kijk je vooral naar de Here Jezus en niet of je wel voldoende geloof hebt
		</li>
	</ul>
</p>
<p>
De Bijbel roept ons op om te geloven. Ga hiermee dus aan de slag. Dat is je eigen verantwoordelijkheid. Toch blijft het zo dat het geloof door God geschonken wordt uit genade. Maar dat zie je vaak pas achteraf.
</p>
<h4>Opdracht 2</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left">
	<ol type="a">
		<li>
			Zoek in zondag 7, vraag en antwoord 21, van de Heidelbergse Catechismus op wat een waar geloof is.
			<br><textarea ng-model="answers._2a"></textarea>
		</li>
		<li>
			Hoe kom je aan zo’n geloof? (zie spreuken 8 vers 17 en Matteus 7 vers 7)
			<br><textarea ng-model="answers._2b"></textarea>
		</li>
		<li>
			Ben jij op zoek naar een relatie met God? Zo ja, hoe doe je dat? Zo nee, wat weerhoud je daarvan?
			<br><textarea ng-model="answers._2c"></textarea>
		</li>
	</ol>	
</p>
<p>
<B>Sola Scriptura</B>
</p>
<p>
God heeft ons zijn Woord gegeven. Dat is de Bijbel. Het is Gods liefde voor mensen dat Hij de Bijbel geeft. Hierin maakt hij bekend wat Zijn reddingsplan is voor jou. Als je jou Redder Jezus wilt leren kennen omdat je gered wilt worden van de zonde en de dood, lees dan de Bijbel. God legt hierin Zijn hart voor jou open. De Bijbelschrijvers zijn door de Heilige Geest geïnspireerd. Daarom is het echt Gods Woord. Diezelfde Heilige Geest wil jou daarom ook helpen bij het lezen van de Bijbel.
</p>
<h4>Opdracht 3</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left">
	<ol type="a">
		<li>
			In de Bijbel maakt God zijn reddingsplan bekend. Wat is dat reddingsplan van God?
			<br><textarea ng-model="answers._3a"></textarea>
		</li>
		<li>
			Reageer op de volgende stelling: Je kunt God alleen echt goed leren kennen als je de Bijbel leest.
			<br><textarea ng-model="answers._3b"></textarea>
		</li>
		<li>
			Lees 2 Petrus 1 vers 21. Schrijf dit vers in eigen woorden op. Wie heeft de Bijbel geschreven?
			<br><textarea ng-model="answers._3c"></textarea>
		</li>
	</ol>
<img src="/drawables/smiley5.png" alt="Smiley face" width="42" style="float:left">
	<ol type="a">
		<li>
			Lees 2 Timoteus 3 vers 16. Schrijf dit vers in eigen woorden op. Waarvoor kan de Bijbel gebruikt worden?
			<br><textarea ng-model="answers._3d"></textarea>
		</li>
	</ol>	
</p>
<p>
<B>Solus Christus</B>
</p>
<p>
Alles draait om de Here Jezus. Hij is de redder van de wereld. Hij is de beloofde Messias. De Bijbel is er duidelijk over. Wie de Zoon heeft, heeft het leven. Alles is door Hem en voor Hem geschapen. Jezus is Heer. Dat betekent: Hij is Koning. Waarover?
<ul>
		<li>
			Christus is Koning van mijn leven
		</li>
		<li>
			Christus is Koning van de kerk
		</li>
		<li>
			Christus is Koning van de wereld
		</li>
	</ul>
</p>
<h4>Opdracht 4</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left">
	<ol type="a">
		<li>
			Is het als jongere moeilijk om Jezus te volgen? Zo ja, hoe komt dat? Zo nee, hoe komt dat?
			<br><textarea ng-model="answers._4a"></textarea>
		</li>
		<li>
			Wie is de Here Jezus Christus voor jou?
			<br><textarea ng-model="answers._4b"></textarea>
		</li>
	</ol>	
</p>
<p>
<B>Soli Deo Gloria</B>
</p>
<p>
Deze laatste sola komt natuurlijk voort uit de andere vier. Als de verlossing van onze zonden alleen door God is en als er helemaal niets van onszelf bij is, dan krijg je een geloof dat volledig gericht is op Hem. Dat is een geloof dat God alle eer geeft.
</p>
<p>
Het is een beetje de wereld op z’n kop. In onze wereld draait het vooral om wat wij fijn vinden. Als we iets niet fijn vinden, dan stoppen we daar gewoon mee. Je ziet het om je heen.
<ul>
		<li>
			Als de liefde tussen twee mensen niet meer fijn is, ga je scheiden
		</li>
		<li>
			Ons bidden is vaak het opnoemen van ons verlanglijstje (erg gericht op jezelf)
		</li>
		<li>
			Als we de kerkdiensten niet mooi vinden, zoeken we een andere kerk
		</li>
		<li>
			Als Jezus voor ons zorgt, hoeven we niet veel te lijden (denken we)
		</li>
	</ul>
</p>
<p>
Dat zijn allemaal zaken die niet kloppen.
<ul>
		<li>
			De Bijbel zegt dat liefde vooral een keus is en niet alleen een gevoel. Je kiest er dus voor om van elkaar te houden.
		</li>
		<li>
			Als God echt in je hart woont is je bidden niet meer een verlanglijstje opnoemen, maar leer je tegen God te zeggen: uw wil geschiedde.
		</li>
		<li>
			De kerkdiensten zijn er niet voor ons, maar voor God. Als je beseft dat het in de eerste plaats om God gaat, loop je niet weg als het even niet gaat zoals jij dat graag zou willen.
		</li>
		<li>
			Iemand die Jezus volgt neemt zijn kruis op zich. Jezus heeft geleden. Een volgeling van Hem zal ook lijden. Ons hoogste doel is niet om comfortabel te leven, maar om God alle eer te geven.
		</li>
	</ul>
</p>
<h4>Opdracht 5</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left">
<p id="opdracht">
	Wat kan helpen om in je hele leven tot eer van God te laten zijn. Geef elkaar tips en schrijf er drie op waarvan je denkt dat die jou kunnen helpen. 
</p>
<br>
<br>
<p>
De vijf sola’s zijn erg belangrijk. Ze leren ons in het kort wat we geloven en zorgen ervoor dat we op het goede spoor blijven.
</p>
<h4>Opdracht 6</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left">
<p id="opdracht">
	De besluiten van het concilie van Trente gaan in tegen de vijf sola’s. Geef bij elk besluit aan tegen welke sola deze ingaat en waarom.
</p>
<br>
<br>

<h4>Ruimte voor aantekeningen</h4>
<p>
	<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
</p>
