		<h1>Karel de Grote</h1>
		<h4>Opdracht 1</h4>
		<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left"> 
		<p id="opdracht" >
			Bekijk het filmpje via de volgende link: 
		</p>
		<p id="opdracht">
			<a href="http://www.schooltv.nl/beeldbank/clip/20060508_kareldegrote01" target="blank">http://www.schooltv.nl/beeldbank/clip/20060508_kareldegrote01</a>
			<ol type="a">
				<li>	
					Wat is de reden dat Karel de bijnaam &#8216;de Grote&#8217; krijgt? <br>
					<textarea ng-model="answers._1a"></textarea><br>
				</li>
				<li>
					De inwoners van het veroverde gebied van de Saksen werden gedwongen om hun heidense praktijken te stoppen en christen te worden. Bedenk zoveel mogelijk redenen waarom Karel zo te werk ging.<br>
					<textarea ng-model="answers._1b"></textarea><br>
				</li>
				<li>	
					Geef aan wat je zelf vindt van deze manier van werken.<br>
					<textarea ng-model="answers._1c"></textarea><br>
				</li>
				<li>	
					Wat zegt de Bijbel over de manier waarop het evangelie verspreid moet worden? Zoek hier ook een Bijbeltekst bij. <br>
					<textarea ng-model="answers._1d"></textarea><br>
				</li>
			</ol>	
		</p>		
		<img src="/drawables/kaart.jpg" width="500" style="float:right"> 
		<p>
			Karel de Grote regeerde van 768 tot 814 over West-Europa. Hij las graag in Augustinus&#8216; boeken &#8216;over de staat van God&#8217; en wilde die staat (zijn rijk) van harte dienen. Hij zag zijn rijk en de organisatie daarvan als een lichaam en de kerk was de ziel. Karel wilde een theocratie (Godsregering). 
		</p>
		<p>
			Karel was een Frankische koning. Hij stamde uit een familie die oorspronkelijk de Frankische koningsgoederen beheerde. De zogenaamde hofmeiers. Deze kregen steeds meer macht en steunden evangeliepredikers. Karel de Grote is hun beroemdste afstammeling.  
		</p>	
		<p>
			Tijdens zijn regering heeft Karel veel gevochten. Hij heeft zijn rijk uitgebreid tot nagenoeg heel West-Europa, behalve Spanje en Portugal dat in de handen van de Moslims was. Na een strijd van ongeveer 30 jaar overwon hij de Saksen en voegde hen bij zijn rijk. Toen de Paus een keer bedreigd werd is Karel direct met zijn leger gekomen om hem te redden. Zo werd Itali&#235; en daarmee de ook de Paus onderdel van zijn rijk. Hij reisde veel door zijn rijk en stelde overal zogenaamde leenmannen aan. Deze regeerden namens Karel over een stuk van het rijk. Zo was Karel in staat om over dit enorme rijk te regeren. 
		</p>	
		<p>
			Hoewel Karel zelf nauwelijks kon lezen en schrijven stimuleerde hij de verbetering van onderwijs in Europa. Hiervoor nam hij de Engelsman Alcu&#239;n in dienst die een soort reizende paleisschool moest leiden. Deze heeft het onderwijssysteem in Europa op een hoger plan gebracht. Het onderwijs werd veelal gegeven in kloosters en kerken. 
		</p>	
		<p>
			Karel beschouwde de Paus als de belangrijkste inwoner van zijn rijk. Hij heeft zichzelf een toegewijd verdediger van de heilige kerk genoemd. Toen hij in het jaar 800 in Rome was werd hij op kerstdag plotseling door Paus Leo III tot keizer gekroond. Hiermee werd Karel formeel de opvolger van de West-Romeinse keizers. Waarom de Paus dit deed is onduidelijk. Het kan zijn omdat hij dankbaar was dat Karel hem zo geholpen had. Maar er wordt ook wel gedacht dat de Paus hiermee zichzelf boven Karel zette en dus een politiek machtsspelletje speelde. Karel was nu keizer, maar zelf zag hij zijn taak als die van koning David. 
		</p>	
		<p>
			Karel de Grote is bijna 50 jaar aan de macht geweest. Hij heeft voor Europa veel betekend en de eenheid van Europa versterkt. Hij wordt daarom ook wel de Vader van Europa genoemd. In het jaar 814 is hij in Aken gestorven. Daar is ook zijn graf. 
		</p>	
		<p>
			Na Karel de Grote volgde zijn zoon Lodewijk de Vrome hem op. 
		</p>

		<h4>Opdracht 2</h4>
		<p id="opdracht">
			Bekijk het filmpje volgende filmpje:<br>
			<iframe width="560" height="315" src="//www.youtube.com/embed/D8Gy8N9ObFw?rel=0" frameborder="0" allowfullscreen></iframe><br>
			<ol type="a">
				<li>
					Schrijf alles op wat je nog niet wist van Karel de Grote<br>
					<textarea ng-model="answers._2a"></textarea><br>
				</li>
				<li>
					Karel bemoeide zich met de kerk en hoe die georganiseerd moest worden. Hij stelde zelf bisschoppen en priesters aan. Hoe is dat nu in Nederland geregeld? <br>
					<textarea ng-model="answers._2b"></textarea><br>
				</li>
				<li>
					Vind je dat beter? Waarom wel/niet?<br>
					<textarea ng-model="answers._2c"></textarea><br>
				</li>
			</ol>	
		</p>
		
		<h4>Ruimte voor aantekeningen</h4>
		<p>
			<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
		</p>
