			<h1>Het ontstaan van de kerk</h1>
			<h4>Opdracht 1</h4>
			<img src="/drawables/groepsopdrachtSmiley4.png" alt="Smiley face" width="42"  style="float:left" > 

			<p id="opdracht">
				<ol type="a">

					<li>
						Werk in groepjes. Pak een groot vel papier. Zet in het midden het woord &#39;Kerk&#39;. Schrijf er met elkaar zoveel mogelijk woorden op die met de kerk te maken hebben. 
						Wissel na 5 minuten je blad met het blad van een andere groep en vergelijk dit blad met jullie 	eigen blad. Vul eventueel woorden aan.
					</li>
					<li>
						Bekijk het volgende filmpje:<br>
						<iframe width="560" height="315" src="//www.youtube.com/embed/FxW8Vhsl1_0" frameborder="0" allowfullscreen></iframe>
					</li>
					<li>
						Wat is de kerk?<br>
						<textarea ng-model="answers._1a"></textarea><br>
					</li>
					
					<li>
						Hoeveel kerken zijn er eigenlijk?<br>
						<textarea ng-model="answers._1b"></textarea><br>
					</li>
				</ol>
			</p>
			
			<h4>Opdracht 2</h4>
			<img src="/drawables/smiley2.png" alt="Smiley face" width="42"  style="float:left" > 
			<p id="opdracht">
				Ga naar de website van jouw kerk en beantwoord de volgende vragen:
				<ol type="a" >
					<li>
						Hoe heet het kerkverband waar jij lid van bent?<br>
						<textarea ng-model="answers._2a"></textarea><br>
					</li>
					<li>
						Heeft jullie kerk een kerkenraad of oudstenraad?<br>
						<textarea ng-model="answers._2b"></textarea><br>
					</li>
					<li>
						Hoe heet de dominee of voorganger?<br>
						<textarea ng-model="answers._2c"></textarea><br>
					</li>
					<li>
						Hoeveel diensten zijn er op zondag?<br>
						<textarea ng-model="answers._2d"></textarea><br>
					</li>
					<li>
						Ben jij lid van een jeugdclub?<br>
						<textarea ng-model="answers._2e"></textarea><br>
					</li>
					<li>
						Worden er leuke uitjes gepromoot.<br>
						<textarea ng-model="answers._2f"></textarea><br>
					</li>
					<li>
						Spreekt de website jou aan. Waarom wel/niet?<br>
						<textarea ng-model="answers._2g"></textarea><br>
					</li>
				</ol>
			</p>	

			<h2>Kerk en jij</h2>
			<p>
				Nu ben jij lid van een kerk. Het is heel normaal dat je daar naartoe gaat. Je hoort er immers bij. Toch is het best vreemd dat wij lid zijn van een kerk, terwijl de meeste mensen in Nederland geen lid zijn van een kerk. Waar komt de kerk eigenlijk vandaan? Wie heeft het verzonnen dat we daar iedere week naartoe gaan om elkaar te ontmoeten, maar belangrijker, om God te ontmoeten? Dat is een lang verhaal. We willen je daarom meenemen naar het begin van de geschiedenis van de kerk. 
			</p>	
			
			<h2>33 na Christus</h2> 
			<p>
				Jezus is gekruisigd, begraven en opgestaan uit de dood. Hij ontmoet zijn leerlingen op de olijfberg. Hij weet: Ik ga naar mijn Vader in de hemel. Mijn werk hier op aarde zit erop. Mijn discipelen zijn er klaar voor om in Mijn naam de wereld te veroveren. Daarom geef Ik ze de grote opdracht mee: 
			</p>
			<p>
				Jezus kwam op hen toe en zei: &#39;Mij is alle macht gegeven in de hemel en op de aarde. <font color="red">Ga dus op weg en maak alle volken tot mijn leerlingen, door hen te dopen in de naam van de Vader en de Zoon en de heilige Geest, en hun te leren dat ze zich moeten houden aan alles wat ik jullie opgedragen heb.</font> En houd dit voor ogen: ik ben met jullie, alle dagen, tot aan de voltooiing van deze wereld.&#39; (Matthe&#252;s 28 vers 18-20)
			</p>
			<p>
				Dat is nogal een behoorlijke opdracht. Gelukkig hoeven de leerlingen dit niet alleen te doen. Jezus zou niet stilzitten in de hemel. Hij zou hun de Heilige Geest sturen, die hen voor dit werk de kracht zou geven. Hierop moesten ze eerst wachten.
			</p>
			
			<h4>Opdracht 3</h4>
			<img src="/drawables/image006.png" alt="Smiley face" width="42"  style="float:left" > 
			<p id="opdracht">
			Lees de grote opdracht van Jezus hierboven nog eens goed.
				<ol type="a">
					<li>
						Welke drie dingen moeten de leerlingen van Jezus doen?<br>
						<textarea ng-model="answers._3a"></textarea><br>
					</li>
					<li>
						Welke bemoediging geeft Jezus hen eerst?<br>
						<textarea ng-model="answers._3b"></textarea><br>
					</li>
					<li>
						Welke belofte geeft Jezus hen daarna?<br>
						<textarea ng-model="answers._3c"></textarea><br>
					</li>
					<li>
						Discussievraag: Wat hebben wij nog aan deze opdracht?<br>
						<textarea ng-model="answers._1d"></textarea><br>
					</li>
				</ol>
			</p>	
					

			<p>
				Op het Pinksterfeest kwam de heilige Geest. De leerlingen werden vervuld met de kracht van de overwinnende Heer. Vanaf dat moment zijn ze de straat op gegaan om de blijde boodschap over de Here Jezus te vertellen. En veel mensen kwamen tot geloof in Jezus. Deze mensen zochten elkaar op om met elkaar te praten over wat Jezus voor hen had gedaan. Verder wilden ze graag dat de leerlingen van Jezus, die nu apostelen genoemd worden, hen vertelden over wat Jezus hen geleerd had. Ze wilden alles weten over Jezus. Ze kwamen bij elkaar thuis samen en deelden alles met elkaar.
			</p>
			<div class="well" id="textArea" style="float:right"> 
				<h2></h2>
				<p>
					De eerste gemeenten kwamen altijd samen op zondagochtend vroeg. 
					Na de dienst gingen ze dan aan het werk. 
					De mensen werkten toen gewoon op zondag, want de joodse sabbat is namelijk de zaterdag. 
					Ze kwamen op zondag bij elkaar omdat dat de opstandingsdag van de Here Jezus is. 
					Eigenlijk vieren we iedere zondag een beetje Pasen. 
				</p>
			</div>	

			<h4>Opdracht 4</h4>
			<img src="/drawables/image006.png" alt="Smiley face" width="42"  style="float:left" > 
			<p id="opdracht">
				Lees Handelingen 4 vers 32 tot Handelingen 5 vers 16
			</p>
			<p id="opdracht">
				<ol type="a">
					<li>
					Wat is er bijzonder aan deze eerste gemeente?<br>
					<textarea ng-model="answers._4a"></textarea><br>
					</li>
					<li>
					Wat is de rol van de apostelen?<br>
					<textarea ng-model="answers._4b"></textarea><br>
					</li>
					<li>
					Wat gaat er mis?<br>
					<textarea ng-model="answers._4c"></textarea><br>
					</li>
					<li>
					Welke zonde doen Ananias en Saffira?<br>
					<textarea ng-model="answers._4d"></textarea><br>
					</li>
					
			<div class="well" id="textArea" style="float:right"> 
				<p>
					Rabbi = Meester
				</p>
				<p>
					Discipel = Leerling
				</p>
				<p>
					Apostel = Gezant
				</p>
				<p>
					Evangelie = de blijde boodschap of het goede nieuws<br>
				</p>
			</div>	
					
					<li>
					Vind je dat ze te zwaar worden gestraft? Waarom wel/niet?<br>
					<textarea ng-model="answers._4e"></textarea><br>
					</li>
					<li>
					Wat vindt het volk van de nieuwe kerk? (zie 5 vers 13)<br>
					<textarea ng-model="answers._4f"></textarea><br>
					</li>
					<li>
					Praten de mensen in jouw woonplaats ook zo over jullie kerk? Waarom wel/niet?<br>
					<textarea ng-model="answers._4g"></textarea><br>
					</li>
				</ol>
			</p>
			
			<h4>Ruimte voor aantekeningen</h4>
			<p>
			<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
			</p>