<h1>De Islam</h1>

<h4>Opdracht 1</h4>
<p id="opdracht">
	Geef van elk van onderstaande stellingen aan of je het ermee eens of oneens bent. Geef ook telkens aan waarom.	
	<ol type="a">
		<li>
			Ik wou dat de Islam niet bestond, daar hebben we alleen maar last van.
			<br><textarea ng-model="answers._1a"></textarea>
		</li>
		<li>
			De Islam is gevaarlijk.
			<br><textarea ng-model="answers._1b"></textarea>
		</li>
		<li>
			Allah is eigenlijk dezelfde als onze God.
			<br><textarea ng-model="answers._1c"></textarea>
		</li>
		<li>
			Moslims hebben Jezus harder nodig dan christenen.
			<br><textarea ng-model="answers._1d"></textarea>
		</li>
	</ol>	
</p>

<p>
Rond het jaar 570 wordt Mohammed geboren in Mekka, een stad in wat nu Saoedi-Arabi&#235; is. Nog voor zijn geboorte sterft zijn vader. Als Mohammed ongeveer zes jaar oud is sterft ook zijn moeder. Zijn grootvader neemt Mohammed bij zich om hem verder op te voeden. Als ook hij sterft neemt zijn oom Abu Talib de verdere opvoeding van Mohammed voor zijn rekening. 
</p>
<div class="well" id="textArea" style="float:right"> 
	<h2>Kalief</h2>
	<p>
		De opvolgers van de profeet Mohammed worden &#8216;Kaliefen&#8217; genoemd. De eerste vier kaliefen staan bekend als de &#8216;rechtgeleide&#8217; of &#8216;rechtvaardige&#8217; kaliefen. Deze periode wordt gezien als de gouden eeuw van de Islam.
	</p>
</div>
<p>
Op 25 jarige leeftijd trouwt Mohammed met de koopmansweduwe Chadidja. Zij is 15 tot 20 jaar ouder dan Mohammed. Hij is voor haar als koopman actief. Uit dit huwelijk krijgt Mohammed vier dochters en waarschijnlijk drie zonen. Na het overlijden van Chadidja trouwt Mohammed tussen de negen en dertien andere vrouwen. Bovendien neemt hij nog een aantal bijvrouwen. 
</p>
<p>
Rond zijn veertigste levensjaar, in het jaar 610, is Mohammed alleen in de grot al-Hira. Hier mediteert hij. In deze grot ontvangt hij zijn eerste openbaring van Allah. Wat er precies is gebeurt weet niemand. De overlevering zegt dat Mohammed klokken hoort luiden, een visioen ziet, een droom ontvangt, op de grond wordt geworpen en het gevoel heeft alsof hij gewurgd wordt. Hij wordt hiervan erg bang en denkt dat hij is bezeten door een boze geest. Zijn vrouw Chadidja weet hem er echter van te overtuigen dat hij door God is uitverkoren om de boodschap van de ene ware God aan zijn heidense landgenoten te verkondigen. Volgens de Koran heeft Mohammed niet rechtstreeks met God zelf gecommuniceerd, maar via de engel Gabriel (Djibril).
</p>
<p>
Tussen 610 en 622 verkondigt Mohammed zijn boodschap aan de inwoners van Mekka. Deze verkondiging concentreert zich op drie punten:
</p>
<p>
	<ul>
		<li>
			Hij verkondigt dat er maar &#235;&#235;n God is.
		</li>
		<li>
			Hij verkondigt dat onrechtvaardigheid niet goed is. Iedereen is verantwoordelijk voor zijn daden.
		</li>
		<li>
			Hij verkondigd dat God over iedereen zal oordelen in het hiernamaals. Dit oordeel gaat over wat je hebt gedaan in je leven.
		</li>
	</ul>
</p>
<div class="well" id="textArea" style="float:right"> 
	<h2>Koran</h2>
	<p>
		De Koran is het heilige boek van de Moslims. Deze is geschreven op basis van de openbaringen die Mohammed kreeg van de engel Gabriel. Aangenomen wordt dat Mohammed zelf niet kon lezen en schrijven. Anderen hebben de woorden voor hem opgeschreven. Na de dood van Mohammed circuleerden er verschillende geschriften. Pas in het jaar 651 is de Koran compleet.
	</p>
</div>
<p>
Mohammed ontvangt tijdens zijn verkondiging veel tegenstand. Alleen wat familieleden, armen en slaven luisteren naar wat hij zegt. De rijke mensen moeten hem niet en verwijten hem dat hij is bezeten door een geest. Ze houden hem voor een waarzegger of een magi&#235;r. Anderen zeggen dat hij zijn openbaringen door God zelf verzonnen heeft. Een uitzondering is de rijke en machtige Abu Bakr. Hij helpt Mohammed en wordt na zijn dood de eerste Kalief.
</p>
<p>
Een belangrijke reden dat er zoveel weerstand kwam was omdat de mensen in zeer veel goden geloofden. Dit leverde handelaren veel geld op. Mohammed verkondigde nu dat er maar &#235;&#235;n god bestaat. Als mensen daarin gaan geloven valt hun bron van inkomsten weg. 
</p>
<p>
Omdat Mohammed in Mekka weinig gehoor vindt, vertrekt hij in het jaar 622 met zijn trouwe helper Abu Bakr naar de stad Medina. Deze verhuizing wordt door Moslims gezien als het begin van de Islam. Voor hen is het jaar 622 het jaar 1 van de jaartelling. In Medina geloofden de mensen wel in de verkondiging van Mohammed. Hij werd daar een machtig politiek en militair leider. Vanuit Medina heeft de Islam zich uitgebreid. In het jaar 630 heeft Mohammed door een vreedzaam verzet Mekka gewonnen voor de Islam. In 632 is Mohammed gestorven. Abu Bakr is toen de nieuwe leider geworden. 
</p>
<p>
Tussen de Islam en het Christendom zitten een heleboel verschillen. Het grote verschil is dat de Bijbel, het heilige Woord van God, spreekt over het evangelie van vergeving, genade en de liefde van God. Dat leidt tot een relatie met de Here Jezus door het werk van de Heilige Geest. Moslims kennen deze relatie niet. Jezus is voor hen geen Middelaar tussen God en mensen en geen Zoon van God. Zij zien Jezus alleen als een profeet.
</p>

<h4>Opdracht 2</h4>
<img src="/drawables/smiley5.png" alt="Smiley face" width="42" style="float:left"> 
<p id="opdracht">
	Lees bovenstaande tekst nog eens goed door en zoek antwoord op de volgende vragen.
	<ol type="a">
		<li>
			In welke stad wordt Mohammed geboren?
			<br><textarea ng-model="answers._2a"></textarea>
		</li>
		<li>
			Welk beroep heeft Mohammed, voordat hij profeet werd?
			<br><textarea ng-model="answers._2b"></textarea>
		</li>
		<li>
			Op welke manier komt Mohammed aan zijn boodschap?
			<br><textarea ng-model="answers._2c"></textarea>
		</li>
		<li>
			Hoe komt het dat hij zoveel tegenstand krijgt?
			<br><textarea ng-model="answers._2d"></textarea>
		</li>
		<li>
			Waarom is Abu Bakr belangrijk voor Mohammed?
			<br><textarea ng-model="answers._2e"></textarea>
		</li>
		<li>
			In welk jaar begint de Islam volgens Moslims?
			<br><textarea ng-model="answers._2f"></textarea>
		</li>
		<li>
			Hoe heeft Mohammed uiteindelijk Mekka veroverd?
			<br><textarea ng-model="answers._2g"></textarea>
		</li>
		<li>
			Geef het verschil aan tussen hoe de Moslims Jezus zien en hoe de Christenen Jezus zien.
			<br><textarea ng-model="answers._2h"></textarea>
		</li>
	</ol>	
</p>

<h4>Ruimte voor aantekeningen</h4>
<p>
	<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
</p>
