<h1>Voorlopers van de Reformatie</h1>
<p>
Bekijk het filmpje hieronder als je wilt dat de tekst van dit hoofdstuk wordt voorgelezen.
</p>
<ol>
<iframe width="560" height="315" src="https://www.youtube.com/embed/caQrabTS8b0" frameborder="0" allowfullscreen></iframe>
</ol>
<p>
In de middeleeuwen (500-1500 na Chr.) is de kerk langzaam maar zeker van het goede spoor geraakt. Er werden steeds meer dingen bij verzonnen die helemaal niks te maken hadden met hoe de Bijbel het leert. De meeste gewone mensen konden in die tijd niet lezen of schrijven. De belangrijke mensen in de kerk konden dat wel, zoals de priesters en de bisschoppen. Om macht over de mensen te hebben werd er veel angst gezaaid. Veel mensen waar bang voor de hel. Verder werd er veel geld van mensen gevraagd, zodat de kerk schatrijk is geworden. Zelfs de pausen waren geen goede herders meer voor de kerk. Ze bemoeiden zich met politieke zaken en wilden alleenheersers zijn. Hieronder volgt een overzicht van de belangrijkste dwalingen van de Rooms Katholieke Kerk.
</p>
<p>
	<ul>
		<li>
		De pausen waren uit op eigen macht en roem. Ze geloofden dat ze de opvolgers waren van Petrus en dat ze de plaatsvervangers waren van de Here Jezus op aarde. Dus wat zij zeiden, moest gebeuren en iedereen moest naar hen luisteren.
		</li>
		<li>
		De Bijbel was er alleen in het Latijn. Een taal waar gewone mensen niets van begrepen. Tijdens de kerkdiensten sprak de priester ook veel in het Latijn. Niemand verstond er iets van.
		</li>
		<li>
		De kerkdienst draait alleen maar om rituelen en sacramenten. Niet om de ontmoeting met God.
		</li>
		<li>
		Er zijn zeven sacramenten: de doop, het vormsel, de eucharistie (avondmaal), het huwelijk, het priesterschap, de biecht en de ziekenzalving.
		</li>
		<li>
		De eucharistie (het avondmaal) is een show geworden. Het is niet meer een geschenk van Christus aan de gelovigen, maar een offer van de kerk aan God. In de kerk staat een altaar. De priester spreekt een soort Latijnse toverformule uit en volgens de kerk verandert dan het brood in het lichaam van Jezus en de wijn in het bloed van Jezus. 
		</li>
		<li>
		Er worden bedevaarten georganiseerd.
		</li>
		<li>
		De mensen zijn bang voor het vagevuur. Als iemand sterft komt hij daar eerst om de straf uit te zitten voor nog niet uitgeboete zonden.
		</li>
		<li>
		De mensen moeten goede werken doen om in de hemel te komen. Een deel van hun redding moeten ze zelf verdienen.
		</li>
		<li>
		Je kunt aflaten kopen, zodat je zonden worden vergeven. Aflaten kun je ook krijgen als je iets goeds doet voor de kerk. Er komt een levendige handel in aflaten.
		</li>
		<li>
		De mensen zijn bijgelovig geworden. Ze aanbidden beelden en heiligen. Een heilige is iemand die na zijn dood door de kerk heilig is verklaard. Dit doet de kerk bij personen die tijdens hun leven iets bijzonders hebben gedaan. De belangrijkste heilige is Maria, de moeder van de Here Jezus.
		</li>
		<li>
		Er worden relikwieën vereerd. Relikwieën zijn overblijfselen van heiligen. 
		</li>
	</ul>
</p>
<h4>Opdracht 1</h4>
<img src="/drawables/smiley56.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
		<ol type="a">
			<li>
				In de middeleeuwen waren de mensen erg bijgelovig. Zoek op internet op wat bijgeloof is en schrijf dat op.<br>
				<textarea ng-model="answers._1a"></textarea><br>
			</li>
			<li>
				Welke van de bovenstaande punten hebben te maken met bijgeloof?<br>	
				<textarea ng-model="answers._1b"></textarea><br>
			</li>
			<li>
				Geef een voorbeeld van bijgeloof uit deze tijd.<br>
				<textarea ng-model="answers._1c"></textarea><br>
			</li>
			<li>
				Rondom sport zit ook veel bijgeloof. Bekijk het volgende filmpje maar eens.<br> <iframe width="560" height="315" src="https://www.youtube.com/embed/vFGy26Qsi6s" frameborder="0" allowfullscreen></iframe><br> Ben jij bijgelovig?<br>	
				<textarea ng-model="answers._1d"></textarea><br>
			</li>
			<li>
				Wat denk je, zou de Here bijgeloof goed vinden? Kun je je antwoord uitleggen?<br>
				<textarea ng-model="answers._1e"></textarea><br>
			</li>
		</ol>
	</p>
<h4>Opdracht 2</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
		<ol type="a">
			<li>
				Volgens de Rooms Katholieke kerk zijn er 7 sacramenten. Zoek van elk van deze sacramenten een afbeelding en schrijf erbij welk sacrament er afgebeeld wordt.<br>
				<textarea ng-model="answers._2a"></textarea><br>
			</li>
			<li>
				Welke twee sacramenten hebben wij als protestantse kerken?<br>	
				<textarea ng-model="answers._2b"></textarea><br>
			</li>
			<li>
				Volgens de Rooms Katholieke kerk verandert, tijdens het avondmaal, het brood in het lichaam van Jezus en de wijn in het bloed van Jezus. Wat gebeurt er volgens de protestantse kerk tijdens het avondmaal met het brood en de wijn?<br>
				<textarea ng-model="answers._2c"></textarea><br>
			</li>
			<li>
				Wat denk jij, is het avondmaal een geschenk van God aan de gelovigen of een geschenk van de gelovigen aan God? Kun je dit uitleggen?<br>	
				<textarea ng-model="answers._2d"></textarea><br>
			</li>
		</ol>
	</p>
<h4>Opdracht 3</h4>
<img src="/drawables/smiley5.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
		<ol type="a">
			<li>
				Wat is een aflaat?<br>
				<textarea ng-model="answers._3a"></textarea><br>
			</li>
			<li>
				Lees 1 Johannes 1 vers 5 tot 10. Wie vergeeft onze zonden? Wat moeten we daarvoor doen  (vers 9)?<br>	
				<textarea ng-model="answers._3b"></textarea><br>
			</li>
			<li>
				Wat vind je dan van een aflaat?<br>
				<textarea ng-model="answers._3c"></textarea><br>
			</li>
			<li>
				Wat betekent vers 6?<br>
				<textarea ng-model="answers._3d"></textarea><br>
			</li>
			<li>
				Wat betekent vers 10?<br>
				<textarea ng-model="answers._3e"></textarea><br>
			</li>
		</ol>
	</p>
<h2>John Wycliffe</h2>
<p>
Tussen het jaar 1300 en 1500 zijn er in verschillende landen mensen en groepen geweest die zich hebben verzet tegen de Rooms Katholieke Kerk. De Rooms Katholieke Kerk heeft deze mensen en groepen streng veroordeeld en ook tegen gewerkt. Velen werden in de gevangenis gegooid of gedood. Maar dit hadden ze graag over voor de waarheid van het evangelie van Jezus. En dat was maar goed ook. De Rooms Katholieke Kerk had er een rommeltje van gemaakt. Maar God zelf zou ervoor zorgen dat er veranderingen zouden komen. Zijn Woord moet op de goede manier verkondigd worden.
</p>
<h4>Opdracht 4</h4>
<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
		Voor de waarheid van de Here Jezus zijn al veel mensen gestorven. Ook vandaag gebeurt dat nog. Bekijk het volgende filmpje maar eens:<br> <iframe width="560" height="315" src="https://www.youtube.com/embed/8QqkMOsCdh4" frameborder="0" allowfullscreen></iframe><br> 
		<ol>
		Stel: er komt een groep gewapende mannen jullie kerk binnen. Aan alle volwassenen wordt één vraag gesteld: Volg je Jezus? Als je ‘ja’ zegt wordt het hele gezin gedood. Jij loopt daar met je vader en/of moeder. Eén van de gewapende mannen komt op jullie af. Vluchten kan niet meer. Wat zou je doen?<br>
		<textarea ng-model="answers._4"></textarea><br>		
		</ol>
	</p>
<a herf="http://thewardrobedoor.com/"><img src="http://thewardrobedoor.com/wp-content/uploads/blogger/-BldX9xWLu4s/UgrzIxg9zPI/AAAAAAAAErI/07s5ZdtiLxY/s1600/John%2BWycliff.jpg" width="150" HEIGHT="200" style="float:right"></a>
<p>
In het jaar 1330 werd in Engeland John Wycliffe geboren. Hij kwam uit een goede familie en kreeg een goede opleiding in de filosofie en theologie. Hij werd professor aan de universiteit van Oxford. Omdat John Wycliffe goed de Latijnse en Griekse taal kon, las hij veel uit de Bijbel. Hij ontdekte dat de Rooms Katholieke Kerk soms helemaal fout zat. Daar moest iets aan gedaan worden! Zo ontdekte hij dat God geen leiders in de kerk had aangesteld om de kerk te overheersen, maar om te dienen. Verder was het niet zo dat alleen de paus en de bisschoppen de Bijbel uit mochten leggen. Nee, de Bijbel legt zichzelf uit. De paus staat niet boven de Bijbel, maar de Bijbel staat boven iedereen. Wycliffe ontdekte ook dat je geen genade kon kopen met aflaten of door heiligen en relikwieën te vereren. De genade van God krijg je van God zelf en is gratis! Een aflaat is godslastering. 
</p>
<p>
Verder ontdekte Wycliffe dat het brood en de wijn die tijdens de Rooms Katholieke mis (avondmaal) worden gebruikt helemaal niet veranderen in het lichaam en het bloed van Jezus. Nee, Christus is aanwezig door zijn Geest. Brood en wijn veranderden niet. Het zijn tekenen. 
</p>
<p>
Het belangrijkste werk van John Wycliffe is het vertalen van de Bijbel in het Engels. Dit was zijn levenswerk. De Bijbel moest open voor alle Engelsen. Dit is tot grote zegen geweest. Veel mensen hebben meegeholpen om de vertaling van Wycliffe over te schrijven. De boekdrukkunst bestond toen nog niet. Alles moest met de hand gebeuren. Maar door het grote enthousiasme is de Bijbel toch bij veel mensen terecht gekomen.
</p>
<p>
John Wycliffe heeft de Rooms Katholieke Kerk nooit verlaten. Ook al had hij er veel kritiek op. Hij is door de kerk wel fel bestreden, maar ze hebben hem niet gedood. Hij had namelijk goede contacten met de Engelse adel. Wel heeft de kerk 40 jaar na zijn dood zijn botten opgegraven en verbrand.
<p>
<h4>Opdracht 5</h4>
<img src="/drawables/smiley2.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
	Naar John Wycliffe is een bekende organisatie genoemd. Ga naar <a href="http://www.wycliffe.nl" target="blank">www.wycliffe.nl</a> en beantwoord de volgende vragen:
		<ol type="a">
			<li>
				Wat doet deze organisatie?<br>
				<textarea ng-model="answers._5a"></textarea><br>
			</li>
			<li>
				Waarom is de organisatie naar John Wycliffe genoemd?<br>	
				<textarea ng-model="answers._5b"></textarea><br>
			</li>
			<li>
				Wat wil deze organisatie bereiken?<br>
				<textarea ng-model="answers._5c"></textarea><br>
			</li>
			<li>
				Hoeveel verschillende talen zijn er volgens deze organisatie?<br>
				<textarea ng-model="answers._5d"></textarea><br>
			</li>
			<li>
				In hoeveel talen is er een (gedeeltelijke) Bijbelvertaling?<br>
				<textarea ng-model="answers._5e"></textarea><br>
			</li>
			<li>
				Klik bij ‘jongeren’ op de actiewebsite en bekijk daar het filmpje. Wat spreekt jou aan?<br>
				<textarea ng-model="answers._5f"></textarea><br>
			</li>
		</ol>
	</p>
<h2>Johannes Hus</h2>
<a herf="http://upload.wikimedia.org/"><img src="http://upload.wikimedia.org/wikipedia/commons/e/e9/Jan_Hus_2.jpg" width="150" HEIGHT="200" style="float:right"></a>
<p>
Het Engelse koningshuis had relaties met het Boheemse (Tjechische) koningshuis. Hierdoor kwamen er veel Boheemse studenten in Engeland. Ze kregen contact met professor John Wycliffe en lazen zijn boeken. Sommigen waren zo enthousiast dat ze deze overschreven en meenamen naar Bohemen. 
</p>
<p>
In 1369 werd Johannes Hus geboren. Hij werd predikant in Praag en kreeg het werk van John Wycliffe te lezen. Hiervan was hij erg onder de indruk en hij was het met veel dingen van Wycliffe eens. Vanaf dat moment preekte hij in Praag alleen nog maar het evangelie van Gods genade en waarheid. Veel mensen uit Bohemen kwamen naar hem luisteren. Hij kreeg veel invloed.
</p>
<p>
De paus had inmiddels de leer van John Wycliffe veroordeeld. Al zijn boeken moesten worden verbrand. Hierdoor kon ook Johannes Hus rekenen op straf. Toen er een concilie (kerkvergadering) werd georganiseerd door de Rooms Katholieke Kerk, moest Johannes Hus daar naartoe komen. Hij moest uitleggen waarom hij zich niet hield aan de leer van Rooms Katholieke Kerk. De koning beloofde hem een vrijgeleide. Dat betekende dat hij beschermd zou worden onderweg door soldaten. Tijdens de vergadering werd echter steeds meer duidelijk dat Hus net zo’n ketter was als Wycliffe. De koning trok daarom de vrijgeleide in. Nu liep Hus onderweg dus gevaar. Hij werd opgepakt en gevangen gezet.
</p>
<p>
In het jaar 1415 werd Johannes Hus uit de gevangenis gehaald en voor het concilie gebracht. Hij moest zijn leer herroepen (terugnemen). Hus antwoordde: dat doe ik alleen als jullie uit de Bijbel kunnen bewijzen dat ik fout zit. De volgende dag, zijn 46e verjaardag, werd Johannes Hus naar de brandstapel gebracht. Daar stierf hij zingend de vuurdood.
</p>
<p>
De invloed van Hus is groot geweest. Na zijn dood brak er in Bohemen een grote opstand uit, die tientallen jaren heeft geduurd.
</p>
<h4>Opdracht 6</h4>
<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
		De brandstapel was de straf voor ketters, mensen die tegen de Rooms Katholieke leer ingingen. Bekijk het volgende filmpje:<br> <iframe width="560" height="315" src="https://www.youtube.com/embed/xMdvGWNQXCg" frameborder="0" allowfullscreen></iframe><br>
		<ol>
		Niet bepaald een pretje, zo’n brandstapel. Hoe kan het dat Johannes Hus, net als veel andere christenen, zongen voor de Here toen ze op de brandstapel stonden? (Lees Lucas 6 vers 21-23)<br>
		<textarea ng-model="answers._6"></textarea><br>
		</ol>
	</p>
<h2>Geert Grote</h2>
<p>
Ook in de Nederlanden waren er mensen die kritiek hadden op de Rooms Katholieke Kerk. In het jaar 1340 werd in Deventer Geert Grote geboren. Hij had een goede loopbaan gehad, maar hield zich bezig met zwarte kunst en sterrenwichelarij. Zaken van de duivel. Toen hij zeer ernstig ziek werd, kwam er een pastoor bij zijn sterfbed om hem de laatste zalving te geven. De pastoor zag echter al die duivelse boeken en zei dat die eerst verbrand moesten worden. Anders kon Geert niet in de hemel komen. Daarom stuurde Geert een paar vrienden op weg die zijn boeken verbrandden. Toen dit gebeurd was, knapte Geert ineens op en genas volledig. Vanaf dat moment wilde Geert Grote niets anders dan zijn leven helemaal in dienst van God besteden. 
</p>
<p>
Hij ging het klooster in en studeerde veel in de Bijbel. Ook las hij de boeken van Augustinus. Hij was heel streng voor zichzelf. Na drie jaar werd hij een prediker. Zijn preken waren goed te begrijpen voor het gewone volk. Hij preekte niet in het Latijn, maar gewoon in de volkstaal. Geert Grote durfde de zonden van zijn dagen aan te wijzen. De priesters leefden alsof ze getrouwd waren en de rijken waren te gierig om de armen te helpen. Zulke zondaars kunnen het Koninkrijk van God niet binnenkomen. Hij riep de mensen op om Jezus te volgen. Dat was de enige manier om aan de hel te ontkomen. Leef nederig en armoedig, zei Geert.
</p>
<p>
Ook was Geert Grote tegen de bouw van de domtoren in Utrecht. Dat was maar wereldse roem. De bisschop van Utrecht wilde dat Geert stopte met deze preken. Hij schorste Geert Grote daarom. Geert mocht niet meer preken. Veel mensen zochten echter contact met Geert. Zo ontstond er een nieuwe gemeenschap: De Broederschap des Gemenen Levens (gemenen=gemeenschappelijk). Deze broeders gingen samenwonen in grote huizen (fraterhuizen). Ze hielpen scholieren met hun huiswerk, ze gaven les in Latijn en Godsdienst en ze waren veel bezig met gebed en het overschrijven van de Bijbel.
</p>
<p>
Na de dood van Geert Grote in het jaar 1384 worden er door zijn vrienden veel kloosters gesticht die veel zegenrijk werk deden. De beweging van Geert Grote wordt ook wel Moderne Devotie (devotie=vroomheid) genoemd. 
</p>
<h4>Opdracht 7</h4>
<img src="/drawables/smiley2.png" alt="Smiley face" width="42" style="float:left">
	<p id="opdracht">
		<ol type="a">
			<li>
				Zoek op wat er in Nederland allemaal is vernoemd naar Geert Grote.<br>
				<textarea ng-model="answers._7a"></textarea><br>
			</li>
			<li>
				Kun je uitleggen waarom juist scholen zo zijn genoemd?<br>	
				<textarea ng-model="answers._7b"></textarea><br>
			</li>
			<li>
				Geert Grote was, voordat hij een prediker werd, ernstig ziek. Waardoor knapte hij weer op?<br>
				<textarea ng-model="answers._7c"></textarea><br>
			</li>
			<li>
				Wat denk je, komen ziektes van de duivel, van God of door de zonden van de mens? Kun je je antwoord uitleggen?<br>
				<textarea ng-model="answers._7d"></textarea><br>
			</li>
		</ol>
	</p>
	
<h4>Ruimte voor aantekeningen</h4>
<p>
	<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
</p>

