<h1>Godsdienststrijd in Nederland</h1>
<p>
In Nederland kreeg de protestantse leer van Luther, maar vooral van Calvijn grote invloed. Er kwamen steeds meer dominees die zich aansloten bij het protestante geloof. Zo ontstond er een nieuwe kerk. De kerken onder het kruis. Dat waren de eerste gereformeerde kerken. Natuurlijk moest alles in het geheim gebeuren. De Rooms Katholieke Kerk trad hard op tegen deze nieuwe leer. Veel protestanten zijn als martelaar gestorven op de brandstapel of onthoofd of opgehangen. 
</p>
<h2>De Nederlandse geloofsbelijdenis</h2>
<p> Een belangrijke dominee was Guido de Bres. Hij had les gehad van Calvijn in Genève en was dominee in Nederland. Een aantal keer moest hij vluchten omdat de situatie te gevaarlijk werd. Zo heeft hij een tijdje in Engeland gewoond, net als veel andere Nederlanders die ook gevlucht waren. Guido de Bres heeft gewerkt in de plaats Doornik. Hij heeft een heel belangrijk  boekje geschreven: De Nederlandse Geloofsbelijdenis. In dat boekje legt hij de kernpunten van het gereformeerde geloof uit. Dit doet hij in 37 artikelen. 
</p>
<div class="well" id="textArea" style="float:right"> 
	<h2>Apostolische geloofsbelijdenis</h2>	
	1. Ik geloof in God de Vader, de Almachtige, Schepper van de hemel en de aarde.<br>  
	2. En in Jezus Christus, zijn eniggeboren Zoon, onze Here; <br>
	3. die ontvangen is van de Heilige Geest, geboren uit de maagd Maria; <br>
	4. die geleden heeft, onder Pontius Pilatus is gekruisigd, gestorven, en begraven, neergedaald in de hel; <br>  
	5. op de derde dag opgestaan uit de doden; <br>
	6. opgevaren naar de hemel, en zit aan de rechterhand van God de Almachtige Vader;<br>
	7. vandaar zal Hij komen om te oordelen de levenden en de doden. <br>
	8. Ik geloof in de Heilige Geest.<br>
	9. Ik geloof een heilige, algemene, christelijke kerk, de gemeenschap der heiligen;<br>
	10. vergeving van de zonden; <br>
	11. opstanding van het lichaam;<br>   
	12. en een eeuwig leven.
</div>
<h4>Opdracht 1</h4>
<img src="/drawables/smiley5.png" alt="Smiley face" width="42" style="float:left">
	<p id="opdracht">
	Ga naar <a href="http://www.gkv.nl/organisatie/bestuur-en-organisatie/belijdenissen/" target="blank">http://www.gkv.nl/organisatie/bestuur-en-organisatie/belijdenissen/</a> en zoek daar de Nederlandse Geloofsbelijdenis op. Download deze.
		<ol type="a">
			<li>
				Lees artikel 1: in hoeveel goden geloven wij?<br>
				<textarea ng-model="answers._1a"></textarea><br>
			</li>
			<li>
				Lees artikel 2: waardoor kennen wij God? (twee dingen)<br>
				<textarea ng-model="answers._1b"></textarea><br>			
			</li>
			<li>
				Lees artikel 3: hoe is de Bijbel er gekomen?<br>
				<textarea ng-model="answers._1c"></textarea><br>			
			</li>
			<li>
				Lees artikel 12: hoe heeft God de aarde geschapen?<br>
				<textarea ng-model="answers._1d"></textarea><br>			
			</li>
			<li>
				Lees artikel 27: wat geloven wij van de kerk? Hoe lang zal de kerk bestaan?<br>
				<textarea ng-model="answers._1e"></textarea><br>			
			</li>
		</ol>
	</p>
<h4>Opdracht 2</h4>
<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
	In de kerk wordt door de dominee vaak ‘de 12 artikelen van het geloof’ of de ‘apostolische geloofsbelijdenis’ voorgelezen. <br>
	Bekijk het volgende filmpje: <br><br>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/aSW2Di6qmmQ" frameborder="0" allowfullscreen></iframe> <br>
	Kies uit een van de volgende opdrachten:
		<ol type="1">
			<li>
				Pak een A3 papier. Zet er groot op ‘Ik geloof’ en teken van ieder artikel uit de geloofsbelijdenis een tekeningetje dat de inhoud van dit artikel weergeeft.
			</li>
			<li>
				Zoek, ter inspiratie, op youtube een filmpje of liedje op dat te maken heeft met de geloofsbelijdenis. Maak nu met een groepje zelf een filmpje over wat je gelooft. Gebruik hierbij de apostolische geloofsbelijdenis.
			</li>
		</ol>
	</p>
<p>
Bekend is de geschiedenis dat op een nacht een vriend van Guido de Bres een pakketje over de muur van het kasteel in Doornik heeft gegooid. In dat pakketje zat een exemplaar van de Nederlandse Geloofsbelijdenis en een brief voor Koning, Philips II. Philips woonde in Spanje en regeerde toen over een groot gebied in Europa, waaronder Nederland. Hij was streng Rooms en Guido de Bres wilde dat hij goed zou begrijpen dat de gereformeerde gelovigen echt alleen maar de Bijbel geloven. Philips was woedend. Hij liet Guido de Bres met man en macht opsporen, maar kon hem niet vinden. Guido was allang gevlucht en zat hoog en droog op een kasteel in Frankrijk. 
</p>
<p>
In het jaar 1567 werd Guido de Bres opgepakt. Hij werd in het kasteel van Doornik opgesloten in een  vunzig hol, samen met een andere predikant. Ze werden streng verhoord, maar gaven niets toe aan de Roomse inquisitie. Omdat hij wist dat hij spoedig de marteldood zou sterven schreef Guido de Bres vanuit de gevangenis nog enkele brieven aan zijn vrouw en hun vijf kinderen en aan zijn oude moeder. Hij sprak in die brieven over blijdschap dat hij martelaar mocht zijn en dat hij de kroon van de genade mocht ontvangen. Op 31 mei 1567 werden beide predikanten op het marktplein opgehangen. 
</p>
<h4>Opdracht 3</h4>
<img src="/drawables/smiley2.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
	Ga naar <a href="http://www.guido.nl" target="blank">http://www.guido.nl</a> en zoek op deze site informatie op over Guido de Brès. Beantwoord de volgende vragen.
		<ol type="a">
			<li>
				In welke plaats wordt Guido de Brès geboren?<br>
				<textarea ng-model="answers._3a"></textarea><br>
			</li>
			<li>
				In welk land gaat Guido de Brès wonen? <br>
				<textarea ng-model="answers._3b"></textarea><br>
			</li>
			<li>
				In welke plaats wordt hij dominee?<br>
				<textarea ng-model="answers._3c"></textarea><br>
			</li>
			<li>
				Omdat het gevaarlijk is om gereformeerd te zijn, neemt hij een schuilnaam aan. Wat is zijn schuilnaam?<br>
				<textarea ng-model="answers._3d"></textarea><br>
			</li>
			<li>
				Wat is het goede idee dat Guido de Brès krijgt?<br>
				<textarea ng-model="answers._3e"></textarea><br>
			</li>
			<li>
				Hoe heet het boekje dat hij schrijft?<br>
				<textarea ng-model="answers._3f"></textarea><br>
			</li>
			<li>
				Wat gebeurt er met dat boekje?<br>
				<textarea ng-model="answers._3g"></textarea><br>
			</li>
			<li>
				Voor wie is het boekje bestemd?<br>
				<textarea ng-model="answers._3h"></textarea><br>
			</li>
			<li>
				Welke marteldood sterft Guido de Brès uiteindelijk?<br>
				<textarea ng-model="answers._3i"></textarea><br>
			</li>
		</ol>
	</p>
<h2>De Heidelbergse Catechismus</h2>
<a herf="http://www.refo500.nl/"><img src="http://www.refo500.nl/content/news/709/medium/HeidelbergCatechisminHeidelberg.png" width="300" HEIGHT="175" style="float:right"></a>
<p>
In 1563 kreeg Nederland een goed leerboek. De Heidelbergse Catechismus. Je kent dit misschien wel van catechisatie. Deze catechismus komt uit de Duitse plaats Heidelberg en is geschreven door Zacharias Ursinus en Caspar Olevianus. Daarna is de catechismus in het Nederlands vertaald door Petrus Datheen. Er wordt uit dit boekje al vanaf het jaar 1566 catechisatie gegeven aan de jeugd van de gereformeerde kerken. De catechismus bestaat uit 52 stukjes. Omdat een jaar 52 weken heeft, kan er iedere zondag een stukje in de kerkdienst uitgelegd worden. Daarom noemen we die stukjes ook wel ‘zondagen’. De catechismus bestaat dus uit 52 zondagen. In die zondagen staan steeds vragen en antwoorden. Door die vragen en antwoorden wordt de gereformeerde leer uitgelegd. De 52 zondagen kunnen verdeeld worden in drie thema’s: ellende, verlossing en dankbaarheid.
</p>
<h4>Opdracht 4</h4>
<img src="/drawables/smiley2.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
	Ga naar <a href="http://www.gkv.nl/organisatie/bestuur-en-organisatie/belijdenissen/" target="blank">http://www.gkv.nl/organisatie/bestuur-en-organisatie/belijdenissen/</a>. Zoek de Heidelbergse Catechismus op en download deze.
		<ol type="a">
			<li>
				Lees van Zondag 1 vraag 1 en het antwoord. Schrijf deze vraag en het antwoord op in eigen woorden. Zoek van woorden die je niet begrijpt de betekenis op.<br>
				<textarea ng-model="answers._4a"></textarea><br>
			</li>
			<li>
				Lees van zondag 7 vraag en antwoord 21. Schrijf in je eigen woorden op wat een waar geloof is. <br>
				<textarea ng-model="answers._4b"></textarea><br>
			</li>
			<li>
				Waar gaan vraag en antwoord 23 over?<br>
				<textarea ng-model="answers._4c"></textarea><br>
			</li>
			<li>
				Welke sacramenten zijn er volgens vraag en antwoord 68?<br>
				<textarea ng-model="answers._4d"></textarea><br>
			</li>
			<li>
				Waar gaan vraag en antwoord 92 over?<br>
				<textarea ng-model="answers._4e"></textarea><br>
			</li>
			<li>
				Schrijf vraag en antwoord 95 in je eigen woorden.<br>
				<textarea ng-model="answers._4f"></textarea><br>
			</li>
			<li>
				Dien jij volgens de catechismus afgoden?<br>
				<textarea ng-model="answers._4g"></textarea><br>
			</li>
			<li>
				Waar gaan vraag en antwoord 119 over?<br>
				<textarea ng-model="answers._4h"></textarea><br>
			</li>
			<li>
				Zie vraag en antwoord 129. Wat betekent ‘Amen’?<br>
				<textarea ng-model="answers._4i"></textarea><br>
			</li>
		</ol>
	</p>
<h2>De synode van Dordrecht</h2>
<p>
Terwijl Spanje probeerde het protestantisme in de Nederlanden tegen te gaan, ontstond er onder de protestanten zelf ook een ruzie. Deze ruzie is erg belangrijk geweest voor de gereformeerde leer. Het begon met twee professoren, Jacobus Arminius en Franciscus Gomarus. Allebei gaven ze les op de universiteit van Leiden. Ze waren het niet eens over de ‘uitverkiezing’. Bij de uitverkiezing gaat het erom dat we geloven dat God uit alle mensen sommigen uitkiest die Zijn kinderen mogen zijn. 
</p>
<p>
Arminius leerde hierover aan zijn studenten dat God de mensen wel uitkiest, maar de vrije wil van mensen is ook belangrijk. De mensen kunnen ook zelf kiezen of ze bij God willen horen of niet. Hij leerde dat, als mensen gaan geloven, God ze uitkiest en als ze niet gaan geloven, God ze niet uitkiest. Aanhangers van Arminius worden ‘Remonstranten’ genoemd.
</p>
<p>
Hier was Gomarus het helemaal niet mee eens. Door de zondeval van Adam en Eva is het onmogelijk dat de mensen nog voor God kiezen. Dat doen mensen nooit van zichzelf. Alleen door de genade van God komen mensen tot geloof en worden ze gered. Het geloof is een geschenk van God. Aanhangers van Gomarus worden ‘Contra-Remonstranten’ genoemd.
</p>
<h4>Opdracht 5</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
		Lees de tekst hierboven goed. De laatste twee alinea’s gaan over wat Arminius leert en wat Gomarus leert. 
		<ol>
		Wie heeft er volgens jou gelijk? Leg ook uit waarom je dat denkt.<br>
		<textarea ng-model="answers._5"></textarea><br>
		</ol>
	</p>
<p>
Arminius en Gomarus kregen veel aanhangers en er kwam grote verdeeldheid in de protestantse kerk. Hier moest een oplossing voor komen. Ook de politiek werd erbij betrokken en in het jaar 1618 werd er een grote vergadering (een synode) van alle gereformeerde kerken uit het land bij elkaar geroepen in Dordrecht. Ook de politieke leiders van het land waren erbij aanwezig en ook veel mensen van kerken uit het buitenland zoals Duitsland, Engeland en Zwitserland. Het was een hele belangrijke vergadering. Op deze vergadering (die twee jaar duurde 1618-1619) is het volgende besloten over de uitverkiezing:
<ol>
	<li>
		Totale verdorvenheid (niemand kan zelf de hemel verdienen)
	</li>
	<li>
		Onvoorwaardelijke uitverkiezing (God kiest mensen uit zoals Hij wil)
	</li>
	<li>
		Beperkte verzoening (het offer van Christus is alleen geldig voor degenen die door God uitgekozen zijn, het offer geldt niet voor de ongelovigen)
	</li>
	<li>
		Onweerstaanbare genade (als God je uitkiest, kun je hem niet tegenhouden. Uiteindelijk zal je accepteren dat de Heilige Geest in je hart werkt)
	</li>
	<li>
		Volharding van de heiligen (als je eenmaal bent gered, kan niets dat nog veranderen)
	</li>
</ol>
</p>
<p>
De Contra-Remonstranten (aanhangers van Gomarus) krijgen dus gelijk. De leer van de Remonstranten (aanhangers van Arminius) wordt veroordeeld. Zij worden ook weggestuurd van de vergadering. Ook de baas van Nederland, Prins Maurits, kiest voor de Contra-Remonstranten. Er wordt vastgesteld dat deze leer de juiste Bijbelse leer is. De leer van de Contra-Remonstranten wordt opgeschreven in de ‘Dordtse Leerregels’.
</p>
<h4>Opdracht 6</h4>
<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
	In 2010 is er in Dordrecht weer een synode geweest. Bekijk het volgende filmpje hierover:<br><br>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/WLOXU9IqXyM" frameborder="0" allowfullscreen></iframe><br>
		<ol type="a">
			<li>
				Wat is een synode?<br>
				<textarea ng-model="answers._6a"></textarea><br>
			</li>
			<li>
				Wat was de bedoeling van deze synode?<br>
				<textarea ng-model="answers._6b"></textarea><br>
			</li>
			<li>
				Vind jij het belangrijk dat zulke synodes georganiseerd worden? Leg je antwoord uit.<br>
				<textarea ng-model="answers._6c"></textarea><br>
			</li>
		</ol>
	</p>
<h4>Opdracht 7</h4>
<img src="/drawables/smiley5.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
	Ga naar <a href="http://www.gkv.nl/organisatie/bestuur-en-organisatie/belijdenissen/" target="blank">http://www.gkv.nl/organisatie/bestuur-en-organisatie/belijdenissen/</a>. Zoek de Dordtse Leerregels op en download deze.<br>
	Scrol iets naar beneden tot je bij artikel 1 bent.
		<ol type="a">
			<li>
				Wie verdienen er de eeuwige dood en waarom? (artikel 1)<br>
				<textarea ng-model="answers._7a"></textarea><br>
			</li>
			<li>
				Wat is Gods liefde? (artikel 2)<br>
				<textarea ng-model="answers._7b"></textarea><br>
			</li>
			<li>
				Hoe brengt God mensen tot geloof? (artikel 3)<br>
				<textarea ng-model="answers._7c"></textarea><br>
			</li>
			<li>
				Wat gebeurt er met hen die niet geloven? (artikel 4)<br>
				<textarea ng-model="answers._7d"></textarea><br>
			</li>
			<li>
				Wat gebeurt er met hen die wel geloven? (artikel 4)<br>
				<textarea ng-model="answers._7e"></textarea><br>
			</li>
			<li>
				Door wie is de zonde in de wereld gekomen? (artikel 5)<br>
				<textarea ng-model="answers._7f"></textarea><br>
			</li>
			<li>
				Door wie gaan mensen geloven? (artikel 5)<br>
				<textarea ng-model="answers._7g"></textarea><br>
			</li>
		</ol>
	</p>
<a herf="http://www.entoen.nu/"><img src="http://www.entoen.nu/media/18_NationaleSynode.jpg" width="300" HEIGHT="250" style="float:right"></a>
<p>
Verder neemt de Synode van Dordrecht nog de volgende besluiten:
<ul>
<li>
De Nederlandse Geloofsbelijdenis (je weet wel, dat boekje van Guido de Bres), De Heidelbergse Catechismus (dat boekje met die vragen en antwoorden, waaruit je leert op catechisatie) en de Dordtse Leerregels vormen samen een goede samenvatting van wat de Bijbel leert. Ze worden de ‘Drie Formulieren van Eenheid’ genoemd. Iedere dominee, ouderling en diaken in de gereformeerde kerken verklaart dat dit de juiste leer is.
</li>
<li>
Er worden regels opgesteld hoe de kerk georganiseerd hoort te worden. Dit boekje heet de ‘Dordtse Kerkorde’.
</li>
<li>
Er wordt opdracht gegeven om de Bijbel helemaal opnieuw te vertalen uit het Hebreeuws en het Grieks (de grondtalen). De staat (de regering) betaalt dit werk. Een aantal dominees wordt daarmee aan het werk gezet en in het jaar 1637 is de vertaling klaar. Deze Bijbel heet de ‘Statenvertaling’. Iedereen die kan lezen kan nu zelf de Bijbel lezen in het Nederlands. Tot het jaar 1951 is de Statenvertaling in alle protestantse kerken de officiële Bijbelvertaling geweest.
</li>
</ul>
</p>
<h4>Opdracht 8</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht">
		<ol type="a">
			<li>
				Op welke manier is in jullie gemeente een normale kerkdienst georganiseerd? (wat gebeurt er eerst, wat daarna, en daarna, en daarna, helemaal tot het eind). Probeer dit zo duidelijk mogelijk onder elkaar te zetten.<br>
				<textarea ng-model="answers._8a"></textarea><br>
			</li>
			<li>
				Vergelijk het vorige antwoord met de antwoorden van de mensen om je heen. Wat zijn de grootste verschillen?<br>
				<textarea ng-model="answers._8b"></textarea><br>
			</li>
			<li>
				Bekijk je antwoord bij ‘a’ nog eens. Zie je er een bepaalde logica of opbouw in? Zo ja, welke? Vind je dit zelf ook logisch?<br>
				<textarea ng-model="answers._8c"></textarea><br>
			</li>
			<li>
				Zoek op <a href="http://www.debijbel.nl" target="blank">http://www.debijbel.nl</a> Psalm 23 op in de Nieuwe Bijbelvertaling en in de Statenvertaling. Welke vind je fijner lezen?<br>
				<textarea ng-model="answers._8d"></textarea><br>
			</li>
			<li>
				Veel uitdrukkingen die wij in onze taal gebruiken zijn afkomstig uit de Statenvertaling. Kijk maar eens op <a href="http://www.statenvertaling.net/uitdrukkingen.html" target="blank">http://www.statenvertaling.net/uitdrukkingen.html</a>. Kies drie uitdrukkingen uit die jij kent en schrijf op waar die vandaan komen.<br>
				<textarea ng-model="answers._8e"></textarea><br>
			</li>
			<li>
				Zoek een plaatje op van de Statenbijbel uit 1637.<br>
				<textarea ng-model="answers._8f"></textarea><br>
			</li>
		</ol>
	</p>
<p>
<B>En verder...</B>
</p>
<p>
Vanaf de Synode van Dordrecht tot vandaag vormen de Bijbel met de Drie Formulieren van Eenheid de basis voor de Gereformeerde Kerken. Toch zijn er na de Synode van Dordrecht binnen de protestantse kerken nog ruzies en meningsverschillen geweest. Dat heeft ervoor gezorgd dat er heel veel verschillende kerkverbanden (kerkverbanden zijn verschillende soorten kerken) zijn in Nederland. Dat is natuurlijk erg jammer en soms ook heel verdrietig. Het is wel fijn dat veel van deze kerken de Bijbel en de Drie Formulieren van Eenheid als hun basis hebben. De verschillen gaan dan ook vaak over bijzaken. De kern van het geloof wordt in heel veel Nederlandse kerken gelukkig nog verkondigd en beleden: Jezus Christus is de redder van de wereld. Iedereen die in Hem geloofd zal niet verloren gaan, maar eeuwig leven tot Gods eer.
</p><br>
<h4>Opdracht 9</h4>
<img src="/drawables/smiley2.png" alt="Smiley face" width="42" style="float:left"> 
	<p id="opdracht"><br>
		Je hebt nu heel wat geleerd over de kerkgeschiedenis. Maak als laatste opdracht een folder voor de kerk waar jij lid van bent. In de folder moet duidelijk gemaakt worden wat voor kerk jullie zijn. Gebruik hierbij de volgende zaken:
		<ol>
			<li>
				De website van jullie kerk	
			</li>
			<li>
				De informatie uit deze kerkgeschiedenismethode
			</li>
			<li>
				Je creativiteit
			</li>
		</ol>
<img src="/drawables/smiley1.png" alt="Smiley face" width="42" style="float:left"> 
	</p>
	<p id="opdracht"><br>
		In de folder moeten de volgende zaken komen:
		<ol>			
			<li>
				Wie zijn jullie? (stel je kerk voor)
			</li>
			<li>
				Waarom komen jullie elke week bij elkaar?
			</li>
			<li>
				Wat is het belangrijkste onderdeel van de kerkdienst?
			</li>
			<li>
				Wat is de boodschap van jullie kerk voor de mensen?
			</li>
		</ol>
	</p>

<h4>Ruimte voor aantekeningen</h4>
<p>
	<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
</p>

