<h1>Paus Gregorius</h1>
<p>
	In de tijd van het Romeinse Rijk is ook de paus in opkomst. Rome is hierin erg belangrijk geweest. Een concilie had bepaald dat er vijf bisdommen waren met speciaal gezag: Rome, Jeruzalem, Alexandri&#235;, Antiochi&#235; en Constantinopel. Rome ligt in het westelijk deel van het Romeinse Rijk en de andere vier in het oostelijke deel. Voor het westen is Rome dus heel erg belangrijk. Zo begon het ook dat de bisschop van Rome zich de belangrijkste voelde aangezien hij de opvolger was van Petrus. In de Bijbel staat namelijk dat Petrus de rots is waarop de kerk gebouwd zal worden. En aangezien Petrus in Rome begraven ligt wordt de bisschop van Rome al snel paus genoemd aangezien hij de vader van de kerk is. Hij heeft daarom ook veel te zeggen.
</p>
<p>
	In Itali&#235; zijn erg veel verschillende barbaarse koningen geweest. Het pausdom zorgde dan voor wat stabiliteit.
</p>
<div class="well" id="textArea" style="float:right"> 
	<h2>Paus = pappa of vader</h2>
	<p>
		De paus werd gezien als vader van de kerk. De paus is dan een soort vertegenwoordiger of plaatsvervanger van Christus op aarde.
	</p>
</div>	
<h4>Opdracht 1</h4>
<img src="/drawables/smiley56.png" alt="Smiley face" width="42" style="float:left"> 
<p id="opdracht">
	<ol type="a">
		<li>
			Lees Matthe&#252;s 18: 13-20 en schrijf in een paar zinnen wat hier staat.
			<br><textarea ng-model="answers._1a"></textarea>
		</li>
		<li>
			Wat is de opdracht voor Petrus volgens deze tekst? 
			<br><textarea ng-model="answers._1b"></textarea>
		</li>
		<li>
			Is het goed dat de paus zich vertegenwoordiger of plaatsvervanger van Christus op aarde noemt? Waarom wel of niet?
			<br><textarea ng-model="answers._1c"></textarea>
		</li>
		<li>
			De Rooms-Katholieke kerk heeft nog steeds een paus. Zoek op welke paus er nu is?
			<br><textarea ng-model="answers._1d"></textarea>
		</li>
		<li>	
			Zoek op internet welke taken de paus tegenwoordig heeft?	
			<br><textarea ng-model="answers._1e"></textarea>
		</li>
		<li>	
			In de Rooms-Katholieke kerk heb je een hi&#235;rarchie. Zet de volgende woorden van belangrijk naar minder belangrijk: 
			<br>Paus, Pastoor, Leken, Bisschoppen, Kardinaal/aartsbisschoppen, Priester 
			<br><textarea ng-model="answers._1f"></textarea>
		</li>
	</ol>
</p>	
 
<div class="well" id="textArea" style="float:right"> 
	<h2>Kloosters</h2>
	<p>
		Al heel vroeg in de geschiedenis zijn er mensen die zich afzonderen om God te dienen. Benedictus van Nursia ging in 520 bepaalde regels voor een klooster vastleggen. Daarom ken je ook nu nog steeds kloosters die leven naar de Benedictijner orde. De monniken in het klooster leven in eenvoud. Ze volgen een vast schema voor de dag, week en jaar. Ze waren op zoek naar wijsheid en heiligheid en wilden God daarmee eren. Naast het programma van gebed werd er gewerkt (zorg, onderwijs, overschrijven van teksten).
	</p>
	<p>
		Bekende uitspraak van Benedictus: &#8220;Ora et labora&#8221; = bid en werk
	</p>
</div>	
 

<h4>Opdracht 2</h4>
<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left"> 
<p id="opdracht">
	Bekijk het volgende filmpje en beantwoord de volgende vragen:
</p>
<p id="opdracht">
	<a href="http://www.schooltv.nl/beeldbank/clip/20030623_klooster01" target="blank">http://www.schooltv.nl/beeldbank/clip/20030623_klooster01</a>
	<ol type="a">
		<li>
			Welke taken hadden de monniken?
			<br><textarea ng-model="answers._3a"></textarea>
		</li>
		<li>
			Waar komt het woord monnikenwerk vandaan?
			<br><textarea ng-model="answers._3b"></textarea>
		</li>
	</ol>
</p>
	
<div class="well" id="textArea" style="float:right"> 
	<p>
		Paus Gregorius de Grote leefde van 540 &#8211; 604. 
	</p>
</div>		
	
<p>
Gregorius de Grote is zo&#8217;n paus geweest die voor stabiliteit zorgde. Eerst was hij een soort burgemeester van Rome. Maar toen hij veel geld had vanwege de erfenis van zijn vader trok hij het klooster in. Hij wilde eenvoudig leven. 
Omdat hij de paus die toen regeerde van goede adviezen had voorzien vroegen ze Gregorius om de paus op te volgen. En dit gebeurde inderdaad in 590. Gregorius was de eerste monnik die paus werd! 
Gregorius had de boeken van Augustinus gelezen. Hij was onder de indruk van het boek Civitate Dei. Gregorius ging wel erg ver, want hij dacht dat Augustinus bedoelde dat de kerk ook de wereld moest gaan regeren. Zo regelde Gregorius de financi&#235;n, watervoorziening, voedselvoorziening en politiedienst.
<p>

<h4>Opdracht 3</h4>
<img src="/drawables/groepsopdracht.png" alt="Smiley face" width="42" style="float:left"> 
<p id="opdracht">
	Deze opdracht kun je maken in een groepje van drie of vier.
	<br>
	Noem drie gevaren als de paus zowel de kerk en het land bestuurd.
	<br><textarea ng-model="answers._4"></textarea>
</p>
<p>
	In de kerk zorgde Gregorius ook voor veel veranderingen. Zo kwam hij met een andere liturgie. Hij voerde de Gregoriaanse zang in. De mensen in de kerk hoefden nu niet meer veelstemmig te zingen maar kunnen nu &#233;&#233;nstemmig zingen. In de Rooms-Katholieke kerk zingen ze vaak nog zoals Gregorius bedacht heeft.
</p>

<div class="well" id="textArea" style="float:right"> 
	<h2>Vagevuur</h2>
	<p>
		Als een gelovige sterft komt hij eerst in het vagevuur. Dit is een plek tussen hemel en hel. Op die plek moet de gestorvene boeten voor zijn kleine zonden. Christus vergeeft namelijk alleen de grote zonden. Om zo snel mogelijk uit het vagevuur te komen kon de familie helpen door extra voorbede te doen of een extra mis te laten bedienen.
	</p>
</div>	

<p>
	Gregorius schreef ook veel boeken. Hierin schreef hij bijvoorbeeld over het vagevuur. Hij wist waarschijnlijk best dat het vagevuur een idee was van het Germaanse bijgeloof. Toch liet Gregorius het toe, waarschijnlijk om heidense Germanen te bekeren. Gregorius gaat hier in tegen de Bijbel.
</p>
<p>
	Gregorius liet ook nog andere onbijbelse dingen toe:
	<ul>
		<li>
			Er kwamen relikwie&#235;n in de kerk
		</li>
		<li>
			Hij liet voor een deel de leer van Pelagius toe
		</li>
		<li>
			Avondmaal was geen maaltijd meer maar het offer van de heilige mis
		</li>
		<li>
			Heiligen verering, bijvoorbeeld eren van martelaren
		</li>
	</ul>
</p>
<p>	
	Gregorius vond het erg belangrijk dat het evangelie doorverteld werd. Hij werd ook wel de zendingspaus genoemd. Zo stuurde hij bijvoorbeeld monniken naar de Germanen in West-Europa. Helaas namen deze monniken de gebruiken van Gregorius over, zo namen ze bijvoorbeeld relikwie&#235;n mee om de mensen te lokken. 
</p>

<h4>Opdracht 4</h4>
<img src="/drawables/smiley37.png" alt="Smiley face" width="42" style="float:left"> 
<p id="opdracht">
	<ol type="a">
		<li>		
			Waarom is Gregorius de Grote zo belangrijk geweest voor de kerk?
			<br><textarea ng-model="answers._5a"></textarea>
		</li>
		<li>
			Wat kun je inbrengen tegen de manier van evangeliseren van Gregorius?
			<br><textarea ng-model="answers._5b"></textarea>
		</li>
		<li>	
			De Bijbel spreekt niet over een vagevuur. Wat zegt de Bijbel over vergeving van zonden?
			<br><textarea ng-model="answers._5c"></textarea>
		</li>
		<li>
			Zoek op internet een paar voorbeelden van relikwie&#235;n.
			<br><textarea ng-model="answers._5d"></textarea>
		</li>
		<li>
			Luister naar een voorbeeld van Gregoriaanse zang. Wat vind je ervan? <br><br>
			<iframe width="560" height="360" src="//www.youtube.com/embed/csDfwmkxOdg?rel=0" frameborder="0" allowfullscreen></iframe>
			<br><textarea ng-model="answers._5e"></textarea>
		</li>
	</ol>
<p>	

<h4>Ruimte voor aantekeningen</h4>
<p>
	<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
</p>
		
 
