<h1>De Bijbel</h1>
<div class="well" id="textArea" style="float:right"> 
	<h2>Canoniek en Apocrief:</h2>
	<p>
		Canoniek betekent ‘meetlint of lineaal’. De canonieke boekrollen zijn de Bijbelboeken.  Deze boeken hebben gezag. Dit is het Woord van God. Alles wat in het Oude en het Nieuwe Testament staat. 
	</p>
	<p>
		Apocrief betekent ‘geheim of verborgen’. Dat zijn alle boekrollen die niet bij de Bijbel horen.  Deze boeken hebben géén gezag. Dat is níet het Woord van God. Bekende apocriefe boeken zijn Makkabeeën, Tobit en Judith. 
	</p>
</div>
<p>
Hoe is de Bijbel eigenlijk ontstaan? Het was niet altijd een boek. Eerst waren er een heleboel boekrollen. Je had de boekrol van Matteus. De boekrol van Johannes. De boekrol van Hebreeën. En zo van nog honderden andere boeken. In deze boekrollen stonden allemaal dingen over God. Veel verschillende mensen hadden een boekrol geschreven. Welke van deze rollen waren nu Gods woord? En welke niet? Het Oude Testament was geen probleem. Dat was al eeuwen bekend. Het ging om het Nieuwe Testament. Wat is het Woord van God?
</p>
<p>
Om dit te weten te komen waren er een aantal regels. Als een boekrol aan deze regels voldoet is het goed:
	<ul>
		<li>
			De boekrol moest door een apostel geschreven zijn. Of door iemand die een apostel heel goed had gekend.
		</li>
		<li>
			De boekrol moest door de christelijke gemeenten goed gevonden worden. 
		</li>
		<li>
			Wat er in de boekrollen stond was belangrijk. Dit mocht niet tegen het Oude Testament in gaan. 
		</li>
	</ul>
</p>
<p>
	Langzaam werd duidelijk welke boekrollen erbij hoorden. In het jaar 367 was het voor iedereen duidelijk. Bisschop Athanasius schreef een brief. Hierin zei hij dat het Nieuwe Testament 27 boeken heeft. Dat zijn de Bijbelboeken die wij nu ook in het Nieuwe Testament hebben. Op een grote kerkvergadering (Concilie) is dit toen vastgesteld. Zo wordt Gods Woord bewaard. 
</p>
<p>
	Alleen de goede boekrollen horen bij de Bijbel. Daar heeft de Heilige Geest voor gezorgd. De Bijbel is het Woord van God. Daarom heeft de Bijbel gezag. Dat betekent dat God spreekt als je de Bijbel leest. 
</p>
<h4>Opdracht 1</h4>
<img src="/drawables/smiley1.png" alt="Smiley face" width="42"  style="float:left" > 
<p id="opdracht">
	Het visje was één van de symbolen van de vroege kerk. Hieronder zie je een aantal christelijke symbolen. Wat betekenen deze symbolen?
<br><br>
</p>
<p id="opdracht" style="float:left">
	<ol>
		<li>
		<img src="/drawables/image010.jpg" alt="Smiley face" width="100"   > <br>
		<textarea ng-model="answers._1a"></textarea><br>
		</li>
		<li>
		<img src="/drawables/image012.gif" alt="Smiley face" width="100"  > <br>
		<textarea ng-model="answers._1b"></textarea><br>
		</li>
		<li>
		<img src="/drawables/image011.png" alt="Smiley face" width="100"   > <br>
		<textarea ng-model="answers._1c"></textarea><br>
		</li>
		<li>
		<img src="/drawables/image014.gif" alt="Smiley face" width="100"   > <br>
		<textarea ng-model="answers._1d"></textarea><br>
		</li>
		<li>
		<img src="/drawables/image013.jpg" alt="Smiley face" width="100"   > <br>
		<textarea ng-model="answers._1e"></textarea><br>
		</li>
		<li>
		<img src="/drawables/image016.gif" alt="Smiley face" width="100"   > <br>
		<textarea ng-model="answers._1f"></textarea><br>
		</li>
		<li>
		<img src="/drawables/image015.jpg" alt="Smiley face" width="100"   > <br>
		<textarea ng-model="answers._1g"></textarea><br>
		</li>
	</ol>
</p>	 
<h4>Opdracht 2</h4>
<img src="/drawables/groepsopdrachtSmiley2.png" alt="Smiley face" width="42" style="float:left">
<p id="opdracht">
Vorm een groepje van drie personen. 
	<ol type="a">
		<li>
			Maak een poster over de Bijbel. Verwerk daarin de volgende woorden: Bijbel, Canoniek, Apocrief, Gezag, Oude Testament, Nieuwe Testament. Natuurlijk zoek je er allerlei mooie plaatjes bij.
		</li>
		<li>	
			Deel je poster met je docent.
		</li>
		<li>	
			Succes!
		</li>
	</ol>
</p>	

<h4>Ruimte voor aantekeningen</h4>
<p>
	<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
</p>
