		<h1>Karel de Grote</h1>
		<h4>Opdracht 1</h4>
		<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left"> 
		<p id="opdracht" >
			Bekijk het filmpje via de volgende link:<br> 
		</p>
		<p id="opdracht">
			<a href="http://www.schooltv.nl/beeldbank/clip/20060508_kareldegrote01" target="blank">http://www.schooltv.nl/beeldbank/clip/20060508_kareldegrote01</a>
			<ol type="a">
				<li>	
					Karel krijgt een bijnaam: 'de Grote'. Hoe komt dit? <br>
					<textarea ng-model="answers._1a"></textarea><br>
				</li>
				<li>
					Karel dwong de Saksen om christen te worden. Ze moesten stoppen met hun heidense godsdiensten. Bedenk zoveel mogelijk redenen waarom Karel dat zo deed.<br>
					<textarea ng-model="answers._1b"></textarea><br>
				</li>
				<li>	
					Geef aan wat je zelf vindt van deze manier van werken.<br>
					<textarea ng-model="answers._1c"></textarea><br>
				</li>
				<li>	
					Hoe moet je het evangelie verspreiden volgens de Bijbel?<br>					<textarea ng-model="answers._1d"></textarea><br>
				</li>
			</ol>	
		</p>		
		<img src="/drawables/kaart.jpg" width="800" HEIGHT="500" style="float:center"> 
		<p>
		Bekijk het filmpje hieronder als je wilt dat de tekst van dit hoofdstuk wordt voorgelezen.
		</p>
			<ol>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/IhQF05_6LHE" frameborder="0" allowfullscreen></iframe>
			</ol>
		<p>
			Karel de Grote was koning vanaf het jaar 768 tot 814 na Christus. Hij regeerde over West-Europa. Karel las graag de boeken van Augustinus. Hij wilde God en zijn rijk van harte dienen. Hij vond zijn rijk een lichaam. De kerk was de ziel van dat lichaam. God was het hoofd. Karel wilde een theocratie (godsregering). Dat is een koninkrijk waarin God de echte koning is. Net als in de tijd van koning David. 
		</p>
		<p>
			Karel was een Frankische koning. Hij komt uit een bekende familie. Karel is de bekendste geworden. Tijdens zijn regering heeft Karel veel gevochten. Hij heeft zijn rijk flink uitgebreid. Heel West-Europa hoorde erbij. Behalve Spanje en Portugal. Dat was in de handen van de Moslims. Heel lang heeft Karel tegen de Saksen gevochten. Wel 30 jaar lang. Ook heeft Karel de paus een keer bevrijd. De paus werd toen bedreigd. Karel is gekomen en heeft hem bevrijd. Zo kwam Itali&#235; ook bij het rijk van Karel. Karel reisde veel. In elk gebied stelde hij leenmannen aan. Deze mochten voor Karel over een stukje van zijn rijk regeren. Karel zocht de leenmannen telkens op. Hij keek dan hoe het ging. Zo kon Karel over zijn grote rijk regeren. 
		</p>	
		<p>
			Karel wilde het onderwijs verbeteren. Zelf kon hij helemaal niet lezen en schrijven. Daarom nam hij de Engelsman Alcu&#239;n in dienst. Alcu&#239;n heeft het onderwijs in Europa verbeterd. Onderwijs werd vooral gegeven in kloosters en kerken.
		</p>	
		<p>
			Voor Karel was de paus de belangrijkste inwoner van zijn rijk. Hij zag zichzelf als de verdediger van de heilige kerk. In het jaar 800 na Christus was hij in Rome. Op kerstdag werd hij door de paus plotseling tot keizer gekroond. Zo werd hij keizer Karel de Grote. Waarom de paus dat ineens deed is onduidelijk. Misschien was hij dankbaar dat Karel hem geholpen had. Maar het kan ook zijn dat de paus zich belangrijker voelde dan Karel. Door hem te kronen staat hij dus boven Karel. Karel was natuurlijk veel sterker dan de paus met al zijn legers. 
		</p>	
		<p>
			Karel de Grote is bijna 50 jaar aan de macht geweest. Hij heeft veel voor Europa betekent. Hij heeft de eenheid van Europa versterkt. Daarom wordt hij de Vader van Europa genoemd. In het jaar 814 na Christus is Karel gestorven. Dat was in de stad Aken in Duitsland. Daar is ook zijn graf. 
		</p>	
		<p>
			Zijn zoon Lodewijk de Vrome volgde hem op.  
		</p>

		<h4>Opdracht 2</h4>
		<p id="opdracht">
			Bekijk het filmpje: <br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/evALZ2TE7Bg" frameborder="0" allowfullscreen></iframe><br>
			<ol type="a">
				<li>
					Schrijf alles op wat je nog niet wist van Karel de Grote<br>
					<textarea ng-model="answers._2a"></textarea><br>
				</li>
				<li>
					Karel bemoeide zich met de kerk. Hij stelde zelf bisschoppen en priesters aan. Hoe is dat nu in Nederland geregeld? <br>
					<textarea ng-model="answers._2b"></textarea><br>
				</li>
				<li>
					Vind je dat beter? Waarom wel/niet?<br>
					<textarea ng-model="answers._2c"></textarea><br>
				</li>
			</ol>	
		</p>
		
		<h4>Ruimte voor aantekeningen</h4>
		<p>
			<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
		</p>
