<h1>Een ommekeer</h1>
<p>
Het was het jaar 200 na Christus. Overal in het romeinse rijk waren christelijke gemeenten ontstaan. In het hele rijk werd er over Jezus gepreekt. Het christendom groeide. Toch bleef het gevaarlijk om christen te zijn. De kerkdienst werden vaak in het geheim gehouden.
</p>
<p>
In die tijd vereerden de mensen heel veel goden. Generaals namen goden mee uit andere landen. Die landen hadden ze dan eerst veroverd. Zo kwamen er steeds meer goden bij. Al die goden waren waardeloos en leeg. Daardoor voelden de mensen zich aangetrokken door de christenen. Die hadden maar één God. Christenen hadden ook een mooie boodschap. Ze spraken over vergeving en elkaar liefhebben. Dat raakte de harten van veel mensen. 
</p>
<h4>Opdracht 1</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left">
<p id="opdracht">
	Het dienen van afgoden is van alle tijden. Je komt het door de hele Bijbel heen tegen.
	<ol type="a">
		<li>
			Hoe komt het dat mensen graag afgoden dienen?
			<br><textarea ng-model="answers._1a"></textarea>
		</li>
		<li>
			Geef drie voorbeelden van moderne afgoden?
			<br><textarea ng-model="answers._1b"></textarea>
		</li>
		<li>
			Waarom zijn dit afgoden?
			<br><textarea ng-model="answers._1c"></textarea>
		</li>
		<li>
			Omschrijf eens wat afgoderij is.
			<br><textarea ng-model="answers._1d"></textarea>
		</li>
		<li>
			Zoek in de Heidelbergse Catechismus vraag en antwoord 95 op. Wat staat hier over afgoderij?
			<br><textarea ng-model="answers._1e"></textarea>
		</li>
		<li>
			Waarop vertrouw jij?
			<br><textarea ng-model="answers._1f"></textarea>
		</li>
		<li>
			Wat betekent het dat afgoden 'leeg' zijn?
			<br><textarea ng-model="answers._1g"></textarea>
		</li>
		<li>
			Wat is dan het verschil met de God van de Bijbel? 
			<br><textarea ng-model="answers._1h"></textarea>
		</li>
	</ol>	
</p>
<p>
Tegenstanders van de christenen gingen slechte dingen verkondigen. Ze zeiden dat de goden boos waren. Daarom gebeuren er allerlei nare dingen in het romeinse rijk. De goden zijn boos omdat de christenen niet offeren. Dit werd door veel mensen geloofd. In het jaar 249 begon keizer Decius de christenen erg te vervolgen. Christenen werden gedwongen te offeren aan de keizer. Als ze dit niet deden werden ze gestraft. Ze moesten dan de gevangenis in of werden gemarteld. In het jaar 257 was Valerianus keizer. Hij vervolgde speciaal de leiders van de christenen. 
</p>
<p>
In het jaar 303 na Christus was Diocletianus keizer. Hij verdeeld zijn rijk in vier delen. Ieder deel kreeg een bestuurder. Deze was dan de baas over zijn deel. Zo had de keizer zelf de handen vrij. Hij kon dan mooi de christenen vervolgen. Hij liet de kerkgebouwen vernietigen. Christenen moesten hun Bijbels en andere boeken inleveren. De leiders werden gevangen genomen. Als je christen was verloor je je baan. Christen hadden geen rechten meer. Christelijke slaven mochten nooit vrij komen. Deze vervolging duurde tot het jaar 311 na Christus. Nog nooit was de kerk zo zwaar vervolgd. Toch hield de kerk stand. Dat zag ook de keizer. Hij kon de kerk niet vernietigen. Toen kwam er een ander keizer. Een hele bijzondere. Zijn naam: Constantijn!
</p>
<h2>Constantijn de grote</h2>
<div class="well" id="textArea" style="float:right"> 
	<p><center>
		<img src="/images/hoofdstuk4.png">
	</center></p>
</div>	
<p>
Het keizerrijk was in vier stukken verdeeld. In ieder stuk wilde iemand keizer worden. Zo had je vier keizers in het rijk. Dat werd oorlog. In één van de stukken werd Constantijn keizer. Maar hij wilde keizer zijn in een groter stuk. Daarom trok hij met zijn leger naar Rome. Daar was Maxentius keizer. Constantijn was onrustig voor de strijd. Op een avond was hij alleen. Opeens zag hij een visioen. In de lucht zag hij een stralend kruis. Om het kruis heen zag hij woorden. Er stond: Overwin in dit teken. Dit gaf Constantijn nieuwe moed. Hij liet op alle vlaggen, schilden, helmen en munten een speciaal teken maken. Het teken was een X en een P. Door elkaar heen geschreven. Dit zijn Griekse letters. Het zijn de eerste letters van de naam Christus. Constantijn werd een christen. Hij ging de strijd aan met Maxentius en won. Zo was Constantijn de keizer in Rome. Hij heerste over het west romeinse rijk. In het oost romeinse rijk was zijn zwager keizer. Die heette Licinius.
</p>
<p>
Keizer Constantijn en keizer Licinius hebben elkaar ontmoet. Dat was in het jaar 313 na Christus. In de stad Milaan in Italië. Ze hebben daar het volgende afgesproken: 
</p>
<p>
	<ul>
		<li>
			Het christendom is toegestaan in het hele Romeinse rijk.
		</li>	
		<li>
			Alles wat van de christenen is afgepakt moet worden teruggegeven.
		</li>	
		<li>
			Alles van de christenen wat is verwoest moet worden terugbetaald.
		</li>	
	</ul>	
</p>
<p>
Deze afspraak noemen we het <b>Edict van Milaan</b>.
</p>
<p>
Langzaam voerde Constantijn het christendom in. Hij werd door de kerkelijke leiders bij allerlei zaken betrokken. Hij kreeg ruzie met keizer Licinius. Hun legers gingen tegen elkaar vechten. In het jaar 324 versloeg Constantijn zijn zwager Licinius. Zo werd hij keizer over het hele romeinse rijk. Hij maakte de kerk tot staatskerk. Dat betekent dat de kerk officieel toegestaan wordt. Constantijn bemoeit zich wel met de kerk. Hij vindt dat de kerk één kerk moet blijven. 
</p>
<p>
Constantijn heeft een aantal heel belangrijke dingen gedaan:
</p>
<p>
	<ol>
		<li>
			De zondag wordt een rustdag. Iedereen is dan vrij. Dat was in het jaar 321 na Christus.
		</li>	
		<li>
			Het heidense midwinterfeest wordt afgeschaft. In plaats daarvan vieren we de geboorte van Jezus. Dat is het kerstfeest. 
		</li>	
	</ol>
</p>
<p>
In het jaar 337 is Constantijn gestorven. Vlak voor zijn dood liet hij zich dopen. Dat kwam vaker voor. Dat leek het veiligste. Dan waren vlak voor dood al je zonden vergeven. 
</p>
<p>
Keizer Constantijn is erg belangrijk geweest voor het christendom. Het romeinse rijk is een christelijk rijk geworden. Wie had dat ooit kunnen denken? Daarom wordt Constantijn ook Constantijn de Grote genoemd. God heeft hem gebruikt. Door Constantijn kregen christenen eindelijk vrijheid. God zorgt voor zijn kerk. Toen, maar ook nu nog. 
</p>
<h4>Opdracht 2</h4>
<img src="/drawables/smiley3.png" alt="Smiley face" width="42" style="float:left">
<p id="opdracht">
	<ol type="a">
		<li>
			Het romeinse rijk had als symbool de adelaar. Constantijn maakte hiervan de X en de P. Wat betekenen deze letters? 
			<br><textarea ng-model="answers._2a"></textarea>
		</li>
		<li>
			Waarom vieren wij kerst op 25 december? Is Jezus in de winter geboren?
			<br><textarea ng-model="answers._2b"></textarea>
		</li>
		<li>
			Constantijn liet zich dopen op zijn sterfbed. Nu worden juist veel baby’s gedoopt. Wanneer kun je het beste gedoopt worden? Bespreek dit in een groepje.
			<br><textarea ng-model="answers._2d"></textarea>
		</li>
	</ol>	
</p>
<h2>Arius en Athanasius</h2>
<p>
Arius was een belangrijke kerkleider uit Egypte. Hij leerde verkeerde dingen aan de mensen. Hij zei dat alleen God de Vader er was. Jezus was door God de Vader geschapen. Jezus was wel een belangrijker persoon dan gewone mensen. Jezus was namelijk als eerste en beste geschapen. Daarom kreeg Jezus de eretitel ‘Zoon van God’. Dit lijkt allemaal heel mooi. Maar het is fout. En ook heel gevaarlijk. Hierdoor kwam er grote onrust in de kerk. 
</p>
<p>
Dit werd zo erg dat er een oplossing moest komen. Keizer Constantijn regelde een vergadering. Daar kwamen kerkleiders uit het hele romeinse rijk. Hij wilde rust. Op deze vergadering werd er gepraat over Arius. Veel mensen waren tegen hem. Wat Arius aan de mensen leert werd veroordeeld. Dit mocht niet meer verkondigd worden. Op de vergadering werd het volgende vastgelegd: 
</p>
<p>
	<ul>
		<li>
			Jezus is gelijk aan God de Vader. Jezus en de Vader zijn één God.
		</li>
	</ul>
</p>

<div class="well" id="textArea" style="float:right"> 
	<h2>Geloofsbelijdenis van Nicea</h2>
	<p>
		Wij geloven in één God, de almachtige Vader, Schepper van de hemel en de aarde, van alle zichtbare en onzichtbare dingen.
		<br>En in één Here Jezus Christus, de eniggeboren Zoon van God, geboren uit de Vader voor alle eeuwen, God uit God, Licht uit Licht, waarachtig God uit waarachtig God; geboren, niet geschapen, één van wezen met de Vader; door Hem zijn alle dingen geworden.
		<br>Terwille van ons mensen en van ons behoud is Hij neergedaald uit de hemel en vlees geworden door de Heilige Geest uit de maagd Maria en is een mens geworden. Hij is ook voor ons gekruisigd onder Pontius Pilatus, heeft geleden, is begraven. Op de derde dag is Hij opgestaan overeenkomstig de Schriften. Hij is opgevaren naar de hemel, zit aan de rechterhand van de Vader en zal in heerlijkheid weerkomen om te oordelen de levenden en de doden. En zijn rijk zal geen einde hebben.
		<br>En in de Heilige Geest, die Here is en levend maakt, die van de Vader en de Zoon uitgaat, die samen met de Vader en de Zoon aangebeden en verheerlijkt wordt, die gesproken heeft door de profeten.
		<br>En een heilige, algemene en apostolische kerk.
		<br>Wij belijden een doop tot vergeving van de zonden.
		<br>Wij verwachten de opstanding van de doden en het leven van de komende eeuw.
		<br>Amen.
	</p>
</div>
<p>
Na deze vergadering werd de onrust helaas groter. De rust die de keizer wilde kwam er niet. Arius kreeg toen meer ruimte voor zijn leer. Toen kwam bisschop Athanasius. Hij probeerde de kerk te beschermen tegen Arius. Athanasius noemt drie belangrijke punten: 
</p>
<p>
	<ol>
		<li>
			De Zoon van God is geboren uit de Vader. Dit gebeurde voordat de wereld gemaakt werd.
		</li>
		<li>
			Jezus is niet minder dan de Vader. Jezus is gelijk aan de Vader. De Vader, de Zoon en de Heilige Geest zijn één heilige God. 
		</li>
		<li>
			Een echt geloof zegt dat Jezus Gods Zoon is en ook mens.
		</li>
	</ol>
</p>
<p>
De strijd met Arius duurt tot het jaar 381 na Christus. Dan komt er een tweede vergadering. Deze is in de stad Constantinopel. Op deze vergadering wordt gezegd dat Arius fout is. Het is nu klaar met wat hij leert. Er wordt op papier gezet wat we precies geloven. Dat heet een geloofsbelijdenis. De Vader, de Zoon en de Heilige Geest wordt nu de drie-enige God genoemd. Drie personen in één God. Wij kunnen dit niet begrijpen. Maar de Bijbel leert ons dit. Daarom geloven wij hierin.
</p>
<h4>Opdracht 3</h4>
<img src="/drawables/Smiley3Smiley5.png" alt="Smiley face" width="42" style="float:left">
<p id="opdracht">
	<ol type="a">
		<li>
			Waarom is het gevaarlijk wat Arius zegt?
			<br><textarea ng-model="answers._3a"></textarea>
		</li>
		<li>
			Jezus is gelijk aan God de Vader. Leg uit wat dit betekent.
			<br><textarea ng-model="answers._3b"></textarea>
		</li>
		<li>
			God is drie-enig. Leg uit hoe dat precies zit.
			<br><textarea ng-model="answers._3c"></textarea>
		</li>
		<li>
			Hiernaast zie je de geloofsbelijdenis van Nicea. Lees deze door. Schrijf de woorden en zinnen die je niet begrijpt op.
			<br><textarea ng-model="answers._3d"></textarea>
		</li>
		<li>
			Wat heb je aan een geloofsbelijdenis?
			<br><textarea ng-model="answers._3e"></textarea>
		</li>
	</ol>	
</p>

<h4>Ruimte voor aantekeningen</h4>
<p>
	<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
</p>
