<h1>De Kruistochten</h1>
<p>
Bekijk het filmpje hieronder als je wilt dat de tekst van dit hoofdstuk wordt voorgelezen.
</p>
<ol>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8FDbKtvjzhg" frameborder="0" allowfullscreen></iframe>
</ol>
		<p>
			Het werd anders toen Karel de Grote gestorven was. De pausen en keizers streden om de macht. Wie was het belangrijkst? Ze werkten vaak niet samen. Soms maakten ze zelfs ruzie. Officieel was de paus de baas over de kerk (geestelijke macht). De keizer was de baas over zijn land (politieke macht). De paus kroonde normaal gesproken de keizers. Wie was er nu belangrijker? Wat een gedoe allemaal. Deze strijd had niets met het dienen van God te maken. De kerk dwaalde meer en meer bij Gods Woord vandaan. 
		</p>
		<p>		
			De Moslims waren ondertussen de baas in het Midden-Oosten. Ze hadden ook delen van Afrika veroverd. Ook de stad Jeruzalem was in de handen van de Moslims. Jeruzalem was voor veel christenen een hele belangrijke plaats. Ze gingen er heen om heilige plekken te bezoeken. Dat zijn de plekken waar de Here Jezus geweest was. Zoals bijvoorbeeld het graf van Jezus. Het bezoeken van heilige plekken noemen we bedevaarten. De Moslims vonden het prima dat er christenen kwamen. Maar dat veranderde. Rond het jaar 1070 na Christus werd iemand anders de baas. Isra&#235;l en dus ook Jeruzalem werden veroverd door Turken. Dat waren ook Moslims. Maar zij behandelden de christenen slecht. Dit zeiden de christenen tegen de paus. 
		</p>
		<p>			
			Het was het jaar 1095 na Christus. Paus Urbanus II hield een belangrijke toespraak. De christenen werden slecht behandeld door de Moslims in Jeruzalem. Dit kon zo niet langer. Het graf van Christus moest bevrijd worden. 'God wil het'! riepen de mensen. Velen geloofden dat God wilde dat het graf bevrijd werd. In de Bijbel lazen ze de volgende tekst: <i>'Wie achter mij aan wil komen, moet zichzelf verloochenen, zijn kruis op zich nemen en mij volgen' (Matthe&#252;s 16 vers 24)</i>. Je kruis op je nemen? Ok, dan maken we kruizen op onze kleren. Wat een onzin allemaal. Dit wordt een ramp! 
		</p>
		<p>			
			De oproep van de paus werd verspreid door Europa. Vooral in Frankrijk en de lage landen. De mensen moesten naar Jeruzalem gaan. Jeruzalem moest bevrijd worden. De paus zei: als je je leven wil wagen voor Christus, worden al je zonden vergeven. Hierdoor kreeg je een plek in de hemel. Wow!! Dat wilden de mensen wel. Velen gingen op reis. Sommigen gingen ook omdat ze gewoon op avontuur wilden. Anderen dachten dat ze rijk zouden worden. Voor weer anderen was hun reis een vlucht. Dat waren mensen die veel problemen hadden. Duizenden mensen gingen op reis. Het werd samen een enorm leger van mensen. Dit was het begin van de kruistochten. Dat zijn de meest zwarte bladzijden uit de geschiedenis van het christendom. 
		</p>
		<p>			
			De eerste kruistocht begon in het jaar 1096 na Christus. Een lange stoet mensen ging op reis. Het was niet goed georganiseerd. Ze wisten niet waar ze aan begonnen. Onderweg moesten ze ook eten. Daarom gingen ze plunderen. Ook doodden ze een grote groep Joden. Die hadden de Here Jezus immers vermoord. De tocht was lang en heel zwaar. De meeste kruisvaarders stierven onderweg. Dat kwam door uitputting. 
		</p>
		<p>			
			De tweede kruistocht ging iets beter. Die had een leider. Dat was Godfried van Bouillon. Hij had een leger bij elkaar geroepen. Zo ging hij op weg naar Jeruzalem. 100.000 kruisvaarders gingen op weg. Maar 15.000 kwamen aan bij Jeruzalem. 85.000 kruisvaarders hebben Jeruzalem nooit gezien. Zij stierven onderweg door honger, dorst of ellende. Ook door gevechten met Moslims stierven er veel. Toch lukte het Godfried om Jeruzalem te veroveren. De kruisvaarders hebben iedereen in Jeruzalem gedood. Moslims, Joden, jong of oud. Iedereen werd afgemaakt. Godfried wilde echter geen koning worden. Daarom werd hij 'beschermer van het heilige graf'. 
		</p>
		<p>			
			De Moslims zijn natuurlijk boos. Ze snappen er niets van. Ineens komen er grote legers hun land innemen. Nu het werk klaar is gaan veel kruisvaarders naar huis. Dan vallen de Moslims aan. Er komt daarom een nieuwe kruistocht. Deze tocht komt nooit bij Jeruzalem aan. Dan komt het bericht dat Jeruzalem terugveroverd is. Saladin heeft Jeruzalem veroverd. De Moslims zijn er weer de baas. Dat gebeurt in het jaar 1187 na Christus. Er komt een nieuwe kruistocht. Maar ook deze mislukt. 
		</p>
		<p>
			In totaal zijn er zeven kruistochten geweest. In het jaar 1212 na Christus was er een nieuw plan. De kinderen moesten op kruistocht gaan. God zou de kinderen toch wel helpen? Dat staat ook in de Bijbel. Duizenden kinderen gingen op reis. Het werd een Kinderkruistocht. Ze zouden naar Zuid-Frankrijk gaan. Daar gingen ze verder met de boot. De kinderen zijn nooit bij Jeruzalem gekomen. In de boten zijn ze naar Afrika gebracht. Daar zijn ze verkocht als slaaf. Ook stierven veel kinderen door ziektes of uitputting. 
		</p>
		<p>
			In het jaar 1291 stopten de kruistochten. Ze hebben bijna 200 jaar geduurd. Door oorlog te voeren wilde het christendom zich uitbreiden. Zo wilde God het niet. Tienduizenden mensen zijn gestorven. Niets is er bereikt. 
		</p>
		<p>
			Toch waren de kruistochten wel ergens goed voor. Men begon handel te drijven met de oosterse wereld. Hierdoor kwamen nieuwe producten in Europa. Er werd veel geld verdiend. Ook komen sommige nieuwe uitvindingen uit het oosten. Bijvoorbeeld het kompas.
		</p>

		<h4>Opdracht 1</h4>
		<img src="/drawables/smiley5.png" alt="Smiley face" width="42" style="float:left"> 
		<p id="opdracht">
			Lees de tekst hierboven
			<ol type="a">
				<li>
					Geef drie redenen waarom mensen op kruistocht gingen.<br>
					<textarea ng-model="answers._1a"></textarea><br>
				</li>
				<li>
					Wat betekent volgens jou de tekst uit Matthe&#252;s 16 vers 24?<br>
					<textarea ng-model="answers._1b"></textarea><br>
				</li>
				<li>
					Om welke reden stuurde de paus de mensen op kruistocht denk je?<br>
					<textarea ng-model="answers._1c"></textarea><br>
				</li>
				<li>
					Waarom kwamen er maar zo weinig kruisvaarders aan bij Jeruzalem?<br>
					<textarea ng-model="answers._1d"></textarea><br>
				</li>
				<li>
					Hoeveel kruistochten zijn er geweest?<br>
					<textarea ng-model="answers._1e"></textarea><br>
				</li>
				<li>
					Welke moslimleider veroverde Jeruzalem van de christenen terug?<br>
					<textarea ng-model="answers._1f"></textarea><br>
				</li>
				<li>
					Welke positieve gevolgen hadden de kruistochten?<br>
					<textarea ng-model="answers._1g"></textarea>
				</li>

			</ol>
		</p>

		<h4>Opdracht 2</h4>
		<img src="/drawables/smiley43.png" alt="Smiley face" width="42" style="float:left">
		
		<p id="opdracht">
			Bekijk het filmpje:<br>
			<iframe width="560" height="315" src="//www.youtube.com/embed/oF2ufBtO2y0?rel=0" frameborder="0" allowfullscreen></iframe>
			<ol type="a">
				<li>
					Jeruzalem moest veroverd worden. Van wie is deze stad eigenlijk? Van de Moslims, de Joden of de Christenen?<br>
					<textarea ng-model="answers._2a"></textarea><br>
				</li>
				<li>
					De mensen in het filmpje bieden hun excuses aan. Wat vind je van deze groep mensen?<br>
					<textarea ng-model="answers._2b"></textarea><br>
				</li>
				<li>
					Wij veroordelen moslims vaak om de aanslagen die gepleegd worden. Moslims verwijten ons de kruistochten. Vind je dit terecht?<br>
					<textarea ng-model="answers._2c"></textarea><br>
				</li>
			</ol>
		</p>	
		
		<h4>Opdracht 3</h4>
		<img src="/drawables/smiley4.png" alt="Smiley face" width="42" style="float:left">
		<p id="opdracht">
		Bekijk via eo.nl de aflevering van &#8216;God in de lage landen&#8217; over de kruistochten. Je kunt ook onderstaande link kopi&#235;ren en plakken in je browser. 
		<a href="https://portal.eo.nl/geloofinnederland/gemist/2012/11/04-de-kruistochten/" target="blank">https://portal.eo.nl/geloofinnederland/gemist/2012/11/04-de-kruistochten/</a>
		</p>
		<br>
		<h4>Ruimte voor aantekeningen</h4>
		<p>
			<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
		</p>
