<h1>De Islam</h1>

<h4>Opdracht 1</h4>
<p id="opdracht">
	Hieronder zie je vier stellingen. Ben je het met deze stellingen eens? Leg je antwoord uit.
	<ol type="a">
		<li>
			Ik wou dat de Islam niet bestond, daar hebben we alleen maar last van.
			<br><textarea ng-model="answers._1a"></textarea>
		</li>
		<li>
			De Islam is gevaarlijk.
			<br><textarea ng-model="answers._1b"></textarea>
		</li>
		<li>
			Allah is eigenlijk dezelfde als de God van de Bijbel.
			<br><textarea ng-model="answers._1c"></textarea>
		</li>
		<li>
			Moslims hebben Jezus harder nodig dan christenen.
			<br><textarea ng-model="answers._1d"></textarea>
		</li>
	</ol>	
</p>
<p>
Bekijk het filmpje hieronder als je wilt dat de tekst van dit hoofdstuk wordt voorgelezen.
</p>
<ol>
<iframe width="560" height="315" src="https://www.youtube.com/embed/XiBoIWfCPqI" frameborder="0" allowfullscreen></iframe>
</ol>
<p>
Rond het jaar 570 na Christus wordt Mohammed geboren. Hij wordt geboren in de stad Mekka. Dat is een stad in Saoedi-Arabi&#235;. Nog voor zijn geboorte sterft zijn vader. Als Mohammed zes jaar is sterft zijn moeder. Hij wordt verder opgevoed door zijn grootvader. Deze sterft na een tijdje ook. Zijn oom Abu Talib neemt dan de opvoeding over. 
</p>
<div class="well" id="textArea" style="float:right"> 
	<h2>Kalief</h2>
	<p>
		De opvolgers van de profeet Mohammed worden 'Kaliefen' genoemd. De eerste vier kaliefen zijn erg belangrijk geweest. Deze periode wordt de gouden eeuw van de Islam genoemd.
	</p>
</div>
<p>
Als Mohammed 25 jaar is trouwt hij. Zijn vrouw heet Chadidja. Zij is de weduwe van een koopman. Mohammed gaat werken als koopman. Ze krijgen samen kinderen. Vier dochters en waarschijnlijk drie zonen. Dan overlijdt Chadidja. Mohammed trouwt daarna met nog ongeveer tien vrouwen. Daarnaast heeft hij ook een aantal bijvrouwen. 
</p>
<p>
Er gebeuren bijzondere dingen in het leven van Mohammed. Mohammed is dan ongeveer veertig jaar oud. In het jaar 610 is hij alleen in een grot. Hier mediteert hij. Dan krijgt hij zijn eerste openbaring van Allah. Wat er precies gebeurt weet niemand. Er zijn alleen maar verhalen over. Die zeggen dat Mohammed klokken hoort luiden. Ook ziet hij een visioen en krijgt hij een droom. Hij wordt op de grond gegooid. Het voelt alsof hij wordt gewurgd. Van deze dingen wordt Mohammed erg bang. Hij denkt dat hij bezeten is door een boze geest. Zijn vrouw Chadidja leeft dan nog. Zij zegt dat het God is. Ook zegt ze dat Mohammed een profeet is. Hij is door God uitgekozen om een boodschap te vertellen. Zijn landgenoten geloven in een heleboel goden. De Koran zegt dat Mohammed gesproken heeft met een engel. Deze engel heet Gabriel. 
</p>
<p>
Vanaf die tijd begint Mohammed te preken. Hij verkondigd de boodschap aan de inwoners van Mekka. Deze boodschap heeft drie hoofdpunten: 
</p>
<p>
	<ul>
		<li>
			Hij verkondigt dat er maar &#235;&#235;n God is.
		</li>
		<li>
			Hij verkondigt dat onrechtvaardigheid niet goed is. Iedereen is verantwoordelijk voor zijn daden.
		</li>
		<li>
			Hij verkondigd dat God over iedereen zal oordelen. Dat gebeurt als je bent gestorven. Dit oordeel gaat over wat je hebt gedaan in je leven.
		</li>
	</ul>
</p>
<div class="well" id="textArea" style="float:right"> 
	<h2>Koran</h2>
	<p>
		De Koran is het heilige boek van de Moslims. Hierin staat wat Gabriel tegen Mohammed gezegd heeft. Mohammed kon zelf niet lezen en schrijven. Anderen hebben de woorden voor hem opgeschreven. Hier was eerst nog verwarring over. Pas in het jaar 651 na Christus is de Koran compleet.
	</p>
</div>
<p>
De meeste mensen willen helemaal niet luisteren naar Mohammed. Alleen wat arme mensen. En ook familie en slaven. De rijke mensen moeten Mohammed niet. Ze zeggen dat hij is bezeten door een geest. Ze vinden hem een magi&#235;r of waarzegger. Anderen zeggen dat hij alles zelf heeft verzonnen. Een rijke en machtige man luistert wel. Hij heet Abu Bakr. Hij helpt Mohammed. Als Mohammed sterft wordt Abu Bakr de eerste Kalief. 
</p>
<p>
Er kwam ook om een andere reden veel tegenstand. De mensen geloofden namelijk in veel goden. Daar waren veel beelden van. Die werden door handelaren verkocht. Hier werd veel geld mee verdient. Mohammed zei dat er maar &#233;&#233;n god is. Als ze Mohammed geloven kopen ze geen beeldjes meer. Dan wordt er dus niet meer zoveel verdiend. 
</p>
<p>
Er zijn in Mekka maar weinig mensen die luisteren naar Mohammed. Daarom gaat hij in het jaar 622 na Christus naar de stad Medina. Abu Bakr gaat met hem mee. Moslims zien deze verhuizing als het begin van de Islam. Het jaar 622 na Christus is voor hen het jaar 1. In Medina geloven veel mensen wat Mohammed zegt. Hij wordt daar erg machtig. Mohammed wordt een politiek en militair leider. Vanuit Medina heeft de Islam zich verspreid. In het jaar 630 na Christus heeft Mohammed Mekka ingenomen. Dit heeft hij gedaan zonder te vechten. In het jaar 632 na Christus is Mohammed gestorven. Abu Bakr is toen de nieuwe leider geworden.
</p>
<p>
De Islam en het Christendom zijn niet hetzelfde. Er zitten een heleboel verschillen tussen. Weet je wat het grootste verschil is? Dat is de genade van de Here Jezus. Hierdoor wordt je gered volgens christenen. Door Jezus mogen wij vergeving ontvangen. Omdat hij voor ons gestorven is. Hij ging in onze plaats. Bij de Islam geloven ze dit niet. Daar moet je het zelf doen. Door goede dingen te doen. Jezus is voor hen alleen een profeet. Voor Christenen is Jezus Gods Zoon. 
</p>

<h4>Opdracht 2</h4>
<img src="/drawables/smiley5.png" alt="Smiley face" width="42" style="float:left"> 
<p id="opdracht">
	Lees bovenstaande tekst nog eens goed door. Zoek het antwoord op de volgende vragen.
	<ol type="a">
		<li>
			In welke stad wordt Mohammed geboren?
			<br><textarea ng-model="answers._2a"></textarea>
		</li>
		<li>
			Welk beroep heeft Mohammed, voordat hij profeet wordt?
			<br><textarea ng-model="answers._2b"></textarea>
		</li>
		<li>
			Op welke manier komt Mohammed aan zijn boodschap?
			<br><textarea ng-model="answers._2c"></textarea>
		</li>
		<li>
			Hoe komt het dat hij zoveel tegenstand krijgt?
			<br><textarea ng-model="answers._2d"></textarea>
		</li>
		<li>
			Waarom is Abu Bakr belangrijk voor Mohammed?
			<br><textarea ng-model="answers._2e"></textarea>
		</li>
		<li>
			In welk jaar begint de Islam volgens Moslims?
			<br><textarea ng-model="answers._2f"></textarea>
		</li>
		<li>
			Hoe heeft Mohammed uiteindelijk Mekka veroverd?
			<br><textarea ng-model="answers._2g"></textarea>
		</li>
		<li>
			Wie is Jezus volgens de Christenen? En wie volgens de Moslims?
			<br><textarea ng-model="answers._2h"></textarea>
		</li>
	</ol>	
</p>

<h4>Ruimte voor aantekeningen</h4>
<p>
	<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
</p>
