			<h1>Het ontstaan van de kerk</h1>
			<h4>Opdracht 1</h4>
			<img src="/drawables/groepsopdrachtSmiley4.png" alt="Smiley face" width="42"  style="float:left" > 

			<p id="opdracht">
				<ol type="a">

					<li>
						Werk in groepjes. Pak een groot vel papier. Zet in het midden het woord ‘Kerk’. Schrijf er omheen woorden op die hiermee te maken hebben. 
Doe dit 5 minuten. Wissel daarna je blad met het blad van een andere groep. Vergelijk dit blad met jullie eigen blad. Vul ook woorden aan met een andere kleur.
					</li>
					<li>
						Bekijk het volgende filmpje:<br>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/FxW8Vhsl1_0" frameborder="0" allowfullscreen></iframe>
					</li>
					<li>
						Wat is de kerk?<br>
						<textarea ng-model="answers._1a"></textarea><br>
					</li>
					
					<li>
						Hoeveel kerken zijn er eigenlijk?<br>
						<textarea ng-model="answers._1b"></textarea><br>
					</li>
				</ol>
			</p>
			
			<h4>Opdracht 2</h4>
			<img src="/drawables/smiley2.png" alt="Smiley face" width="42"  style="float:left" > 
			<p id="opdracht">
				Ga naar de website van jouw kerk en beantwoord de volgende vragen:
				<ol type="a" >
					<li>
						a. Hoe heet de kerk waar jij lid van bent?<br>
						<textarea ng-model="answers._2a"></textarea><br>
					</li>
					<li>
						Heeft jullie kerk een kerkenraad of oudstenraad?<br>
						<textarea ng-model="answers._2b"></textarea><br>
					</li>
					<li>
						Hoe heet de dominee of voorganger?<br>
						<textarea ng-model="answers._2c"></textarea><br>
					</li>
					<li>
						Hoeveel diensten zijn er op zondag?<br>
						<textarea ng-model="answers._2d"></textarea><br>
					</li>
					<li>
						Ben jij lid van een jeugdclub?<br>
						<textarea ng-model="answers._2e"></textarea><br>
					</li>
					<li>
						f. Worden er leuke uitjes gedaan?<br>
						<textarea ng-model="answers._2f"></textarea><br>
					</li>
					<li>
						Spreekt de website jou aan. Waarom wel/niet?<br>
						<textarea ng-model="answers._2g"></textarea><br>
					</li>
				</ol>
			</p>	

			<h2>Kerk en jij</h2>
			<p>
				Jij  bent lid van een kerk. Het is heel normaal dat je daar naartoe gaat. Je hoort erbij. Eigenlijk is dat best vreemd. De meeste mensen in Nederland gaan niet naar de kerk. Waar komt de kerk eigenlijk vandaan? Wie heeft de kerk eigenlijk bedacht? Waarom is het belangrijk om elkaar daar te ontmoeten? Waarom ontmoet je God in de kerk? Allemaal lastige vragen. Om hier antwoorden op te geven moeten we terug. We moeten helemaal terug naar het begin van de kerk. 
			</p>	
			
			<h2>33 na Christus</h2> 
			<p>
				Jezus is gekruisigd, gestorven, begraven en opgestaan. Hij ontmoet zijn leerlingen op de Olijfberg. Hij weet dat hij naar zijn Vader in de hemel gaat. Zijn werk op aarde is klaar. Zijn leerlingen zijn er klaar voor om de wereld in te gaan. Zij moeten vertellen van Jezus. En wat hij gedaan heeft, zodat mensen gered worden. Daarom geeft Jezus ze nu de grote opdracht. Daarna gaat hij naar zijn Vader in de hemel. Hieronder staat de grote opdracht. 
			</p>
			<p>
				Jezus kwam op hen toe en zei: &#39;Mij is alle macht gegeven in de hemel en op de aarde. <font color="red">Ga dus op weg en maak alle volken tot mijn leerlingen, door hen te dopen in de naam van de Vader en de Zoon en de heilige Geest, en hun te leren dat ze zich moeten houden aan alles wat ik jullie opgedragen heb.</font> En houd dit voor ogen: ik ben met jullie, alle dagen, tot aan de voltooiing van deze wereld.&#39; (Matthe&#252;s 28 vers 18-20)
			</p>
			<p>
				Dat is zeker een grote opdracht. Gelukkig hoeven de leerlingen dit niet alleen te doen. Jezus stuurt hen de Heilige Geest. De Heilige Geest zou de leerlingen kracht geven. Op Hem moesten de leerlingen eerst wachten.
			</p>
			
			<h4>Opdracht 3</h4>
			<img src="/drawables/image006.png" alt="Smiley face" width="42"  style="float:left" > 
			<p id="opdracht">
			Lees de grote opdracht van Jezus hierboven nog eens goed.
				<ol type="a">
					<li>
						Welke drie dingen moeten de leerlingen van Jezus doen?<br>
						<textarea ng-model="answers._3a"></textarea><br>
					</li>
					<li>
						Wat zegt Jezus eerst? (voor de rode tekst) Waarom zullen de leerlingen dat fijn vinden?<br>
						<textarea ng-model="answers._3b"></textarea><br>
					</li>
					<li>
						Welke belofte geeft Jezus hen daarna? (na de rode tekst)<br>
						<textarea ng-model="answers._3c"></textarea><br>
					</li>
					<li>
						Discussievraag: Wat hebben wij nog aan deze opdracht?<br>
						<textarea ng-model="answers._1d"></textarea><br>
					</li>
				</ol>
			</p>	
					

			<p>
				Op het Pinksterfeest kwam de Heilige Geest. De leerlingen ontvingen Zijn kracht. Vanaf dat moment zijn ze op pad gegaan. Overal vertellen ze de blijde boodschap over Jezus. En veel mensen komen tot geloof in Jezus. Deze mensen zochten elkaar op om over Jezus te praten. Ze wilden ook van de leerlingen alles weten over de Here Jezus. Daarom kwamen ze samen bij elkaar thuis. Ze deelden al hun spullen en geld ook met elkaar. Zo had er niemand iets tekort.
			</p>
			<div class="well" id="textArea" style="float:right"> 
				<h2></h2>
				<p>
					De eerste gemeenten kwamen altijd samen op zondagochtend. Na de dienst gingen ze dan aan het werk. De mensen werkten toen gewoon op zondag. Dat was nog geen vrije dag. Jezus is op zondag opgestaan uit de dood. Daarom komen Christenen op zondag naar de kerk. Eigenlijk vieren we iedere zondag een beetje Pasen. 
				</p>
			</div>	

			<h4>Opdracht 4</h4>
			<img src="/drawables/image006.png" alt="Smiley face" width="42"  style="float:left" > 
			<p id="opdracht">
				Lees Handelingen 4 vers 32 tot Handelingen 5 vers 16
			</p>
			<p id="opdracht">
				<ol type="a">
					<li>
					Wat is er bijzonder aan deze eerste gemeente? (zie 4 vers 32)<br>
					<textarea ng-model="answers._4a"></textarea><br>
					</li>
					<li>
					Wat doen de apostelen? (zie 4 vers 33)<br>
					<textarea ng-model="answers._4b"></textarea><br>
					</li>
					<li>
					Wat gaat er mis? (zie 5 vers 1 en verder)<br>
					<textarea ng-model="answers._4c"></textarea><br>
					</li>
					<li>
					Welke zonde doen Ananias en Saffira?<br>
					<textarea ng-model="answers._4d"></textarea><br>
					</li>
					
			<div class="well" id="textArea" style="float:right"> 
				<p>
					Rabbi = Meester
				</p>
				<p>
					Discipel = Leerling
				</p>
				<p>
					Apostel = Gezant
				</p>
				<p>
					Evangelie = de blijde boodschap of het goede nieuws<br>
				</p>
			</div>	
					
					<li>
					Vind je dat ze te zwaar worden gestraft? Waarom wel/niet?<br>
					<textarea ng-model="answers._4e"></textarea><br>
					</li>
					<li>
					Wat vindt het volk van de nieuwe kerk? (zie 5 vers 13)<br>
					<textarea ng-model="answers._4f"></textarea><br>
					</li>
					<li>
					Praten de mensen in jouw woonplaats ook zo over jullie kerk? Waarom wel/niet?<br>
					<textarea ng-model="answers._4g"></textarea><br>
					</li>
				</ol>
			</p>
			
			<h4>Ruimte voor aantekeningen</h4>
			<p>
			<textarea id="aantekeningen" ng-model="answers._aantekeningen"></textarea>
			</p>
